<div>
    <header id="header" class="app-header navbar" role="menu">
        <!-- navbar header -->
        <div class="navbar-header bg-dark">
            <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
                <i class="glyphicon glyphicon-cog"></i>
            </button>
            <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
                <i class="glyphicon glyphicon-align-justify"></i>
            </button>
            <!-- brand -->
            <a href="#/" class="navbar-brand text-lt">
                <!-- <i class="fa fa-btc"></i> -->
                <img ng-src="{{logoUrl}}" ng-if="collapseVar == true" alt="." ng-init="logoUrl = 'images/karix_logo.png'" />
                <img ng-src="{{minLogoUrl}}" alt="." ng-if="collapseVar == false" ng-init="minLogoUrl = 'images/karixlogo.png'" />
                <!-- <span class="hidden-folded m-l-xs">Angulr</span> class="hide"-->
            </a>
            <!-- / brand -->
        </div>
        <!-- / navbar header -->

        <!-- navbar collapse -->
        <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
            <!-- buttons  -->
            <div class="nav navbar-nav hidden-xs">
                <a class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" ng-click="collapseVar = !collapseVar" target=".app">
                    <i class="fa fa-dedent fa-fw text"></i>
                    <i class="fa fa-indent fa-fw text-active"></i>
                </a>
            </div>
            <!-- / buttons -->
            <!-- nabar right -->
            <ul class="nav navbar-nav navbar-right">
                <li dropdown is-open="status.isopen">
                    <a class="dropdown-toggle clear" dropdown-toggle>
                        <span class="thumb-sm pull-right m-t-n-sm m-b-n-sm m-l-sm">
                            <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <!--href="#" <img src="img/a0.jpg" alt="..."> -->
                        <!-- <i class="on md b-white bottom"></i> -->
                        </span>
                        <span class="hidden-sm hidden-md">{{username}}</span>
                        <!-- <b class="caret"></b> -->
                    </a>
                    <!-- <ul class="dropdown-menu animated fadeInRight w" role="menu">
                        <li>
                            <a href>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="app.page.profile">Profile</a>
                        </li>
                        <li>
                            <a ui-sref="app.docs">
                                <span class="label bg-info pull-right">new</span> Help
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a>Logout</a>
                        </li>
                    </ul> -->
                </li>
            </ul>
            <!-- / navbar right -->
        </div>
        <!-- / navbar collapse -->
    </header>
    <!-- / header -->
    <!-- aside -->
    <aside id="aside" class="app-aside hidden-xs bg-dark">
        <div class="aside-wrap">
            <div class="navi-wrap">
                <!-- nav -->
                <nav ui-nav class="navi clearfix">
                    <ul class="nav">
                        <li>
                            <a class="auto customtool" ng-click="reload('dashboard.home',$event)" title="Dashboard" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-home text-warning-lter" style="font-size:20px;"></i>
                                <span class="font-bold">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="auto customtool" ng-click="reload('dashboard.list_bot',$event)" title="BOT List" data-toggle="tooltip" data-placement="right">
                                <b class="badge bg-info pull-right">{{botlen}}</b>
                                <i class="fa fa-list-alt text-success-lter"></i>
                                <span class="font-bold">Bot List</span>
                            </a>
                        </li>
                        <li>
                            <a ng-click="reload('dashboard.rcs_dashboard',$event)" class="auto customtool" title="Create BOT" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-plus-square text-info-lter"></i>
                                <span class="font-bold">Create Bot</span>
                            </a>
                        </li>

                        <li class="line dk" ng-hide="disable"></li>
                        <li>
                            <a ui-sref="dashboard.ent_api" class="auto customtool" title="Enterprise API" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-microchip" aria-hidden="true"></i>
                                <span>Enterprise API Services</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.channel" class="auto customtool" title="Channels" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-plug" aria-hidden="true"></i>
                                <span>Channels</span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref="dashboard.enduserlist" class="auto customtool" title="End User List" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span>End User List</span>
                            </a>
                        </li>
                        <li ng-if="role">
                            <a ui-sref="dashboard.adduser" class="auto customtool" title="Create User" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-user-plus" aria-hidden="true"></i>
                                <span>Create User</span>
                            </a>
                        </li>
                        <li class="line dk"></li>
                        <li>
                            <a ng-click="logout()" class="auto customtool" title="Logout" data-toggle="tooltip" data-placement="right">
                                <i class="fa fa-sign-out"></i>
                                <span>Logout</span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- nav -->
            </div>
        </div>
    </aside>
</div>
<!-- / aside -->