<div class="row bg_pic" id="test" ng-style="{'background-image': 'url(http://172.16.14.211/uploads/{{bot_id}}/webbgimage.jpg)'}">

    <div class="col-mg-4 col-lg-4 col-sm-0">
        <!-- <ui-carousel slides="slides" on-init="onCarouselInit()" slides-to-show="3" slides-to-scroll="3" initial-slide="0" style="margin: 2%">
                    <carousel-item>
                            <img src="{{item.image}}" alt="Image" style="width: 120px;"/>
                            <h2>{{ item.title }}</h2>
                            <h3>{{item.subtitle}}</h3>
                    </carousel-item>
                    <carousel-prev>
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </carousel-prev>
                    <carousel-next>
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </carousel-next>
                </ui-carousel>  -->
    </div>
    <div class="col-mg-4 col-lg-4 col-sm-12 sm_col main_col">

        <div class="row" id="profile_row" style="border-radius: 11px 11px 11px 11px;">
            <div class="row profile" ng-style="{'background-image': 'url(http://172.16.14.211/uploads/{{bot_id}}/webbgimage.jpg)'}">
                <div style="margin-top: 3%;font-size: 20px;color:#080808;" ng-click="chatview()"><i class="fa fa-arrow-circle-left"></i></div>
            </div>
            <hr />
            <div class="row profile_info">
                <div class="row">
                    <h2 style="text-align: center"> About US</h2>
                    <p>{{botDesc}}</p>
                </div>
                <div class="row weblink"><a href="{{weblink}}">{{weblink}}</a></div>
            </div>
        </div>
        <div class="row" id="row_index">
            <div class="row row_mar" style="height: 100%;">
                <div class="row title_bar" ng-style="titlebar" ng-click="viewprofile()">
                    <div flex="20" class="icon_img">
                        <img data-ng-src="http://172.16.14.211/uploads/{{bot_id}}/botlogoimage.png" style="width:65px;" /> </div>
                    <div flex="80" class="bot_title" ng-style="title_col">{{botName}}</div>
                </div>
                <div class="row row_mar " style="height: 84%;">
                    <div class="col-lg-12 col-md-12 col-sm-12 body_class bg_bot" ng-style="{'background-image': 'url(http://172.16.14.211/uploads/{{bot_id}}/botbgimage.jpg)'}">
                        <div class="row cb scrollbar row_mar" id="mesages" style="margin-right: -3%;">

                            <div ng-repeat="x in messages" repeat-end="onEnd()">
                                <div class="row">
                                    <div ng-if="x.server" class="server_mess">
                                        <!--                                        
                                    <div class="cls1">
                                        <img ng-if="x.icon" data-ng-src="http://172.16.14.211/uploads/{{bot_id}}/botlogoimage.png" alt="Brand Logo" height="42" width="42">                                        {{username}}
                                    </div> -->
                                        <div ng-if="x.load" class="chat-spe-bubble" ng-style="bbubble">
                                            <img src="../images/loader.gif" class="img-rounded" alt="Cinque Terre" width="100" height="40">
                                        </div>
                                        <div ng-if="x.text" class="chat-spe-bubble" ng-style="bbubble" style="width: 59%;">
                                            <p>{{x.message}}</p>
                                        </div>
                                        <div ng-if="x.img">
                                            <div class="form-group chat-spe-bubble" ng-style="bbubble" style="border:0px;width: min-content;">
                                                <div>
                                                    <img ng-src="{{x.message.img}}" class="img-rounded" alt="Cinque Terre" width="214" height="176">
                                                    <h3 style="font-size:19px">{{x.message.title}}</h3>
                                                    <h5>{{x.message.subtitle}}</h5>
                                                </div>
                                            </div>
                                        </div>

                                        <div ng-if="x.video" class="chat-spe-bubble" ng-style="bbubble" style="padding: 2.5%;">
                                            <iframe width="200" height="150" ng-src="{{url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="x.carousel" style="margin-top: 0%;">
                                    <ui-carousel slides="x.message" on-init="onCarouselInit()" slides-to-show="3" slides-to-scroll="3" initial-slide="0" style="margin-left: 7%;margin-right: 7%">
                                        <carousel-item class="carousel_item">
                                            <h3 style="font-size:20px">{{ item.title }}</h3>
                                            <h4 style="font-size:13px">{{item.sub_title}}</h4>
                                            <h5 style="font-size:12px">{{item.small_desc}}</h5>
                                            <img src="http://172.16.14.211/uploads/BOT20180322202215375/carousel/{{item.img}}" alt="Image" class="car_img" />
                                            <h3 class="car_tit">{{ item.title2 }}</h3>
                                            <h4 style="font-size:13px">{{item.sub_title2}}</h4>
                                            <h5 style="font-size: 12px; text-align: center;line-height:inherit;height: 120px; overflow: hidden;">{{item.small_desc2}}</h5>
                                            <input type="button" ng-style="carousel_color" id="carbutton" value="{{item.button_text}}" name={{item.bt_payload}} class="md-button md-raised md-primary" style="margin: 0; width: 98%;" onclick="sendmess(value,name)">
                                            <p style="font-size: 10px;">{{item.footer}}</p>
                                        </carousel-item>
                                        <carousel-prev>
                                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                                        </carousel-prev>
                                        <carousel-next>
                                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                                        </carousel-next>
                                    </ui-carousel>

                                </div>



                                <div class="row">
                                    <div ng-if="x.Location">
                                        <button type="button" class="btn btn-primary option-style" ng-style="{'background': (isHover ? bthover : 'transparent'),'border-color':btbordercolor,'color':btcolor}" ng-mouseenter="isHover = true" ng-mouseleave="isHover = false" ng-click="mapmodal()"
                                            value="">Share Location</button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-if="x.suggestions" class="sugg">
                                        <div style="display: flex;margin-left: 11%;">
                                            <div ng-repeat="(key, value)  in x.options" style="margin-right:3%">
                                                <button type="button" class="btn btn-primary option-style" ng-style="{'background': (isHover ? bthover : 'transparent'),'border-color':btbordercolor,'color':btcolor}" ng-mouseenter="isHover = true" ng-mouseleave="isHover = false" ng-click="sendval(value,key)"
                                                    value={{value}}>{{key}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div ng-show="x.user" style="float:right;display:flex;margin-top: 0%;">

                                        <div ng-if="x.text" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">
                                            <p ng-bind-html="x.mess"></p>

                                        </div>

                                        <div ng-show="x.pdf" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">
                                            <object ng-attr-data="{{x.pdfbase}}" type="application/pdf"></object>
                                            <embed width="100%" height="100%" name="plugin" style="overflow: hidden" scrolling="no" ng-src="{{fileLoadedEvent}}">
                                            <p></p>
                                        </div>
                                        <div ng-if="x.image" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">
                                            <img data-ng-src="{{x.imagebase}}" style="width:65px;" />
                                        </div>
                                        <div class="row">
                                            <div ng-if="x.loc" id="outgoing-speech_img" class="outgoing-speech_img" style="border-radius: 12px;" ng-style="ububble">
                                                <p>{{x.mess.title}}</p>
                                                <img ng-src={{x.mess.image_url}} style="width:100%; height:200px;border-radius: 1px 1px 10px 10px;">
                                            </div>
                                        </div>
                                        <div ng-class="{'cls1  user_icon': x.user, 'cls1  user_icon_img': x.user} ">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="mapContent.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Location</h3>
                </div>
                <div class="modal-body" id="modal-body" style="height: 700px;width: 900px;">
                    <input id="pac-input" type="text" ng-model="autocomplete" placeholder="Search Place">
                    <div id="map" style="position: fixed;
                    overflow: hidden;"></div>
                </div>
                <div class="modal-footer">
                    <md-button ng-click="ctrl.ok()">
                        Send
                    </md-button>
                    <md-button ng-click="ctrl.answer('not useful')">
                        Cancel
                    </md-button>
                </div>
            </script>
            <div class="row row_mar input_field">
                <div>

                    <form name="Form" class="form_input">
                        <fieldset ng-disabled="text">
                            <div class="inf" style="border-radius: 51px 51px 51px 51px;">
                                <!-- <input ng-show="date" ng-model="mess_input" mobiscroll-date="minmaxSettings" mobiscroll-instance="demo" style="width: 100%;font-size:  36px;border-width: 0px;height: 36px;border-radius: 51px 0px 0px 51px;"/> -->
                                <div ng-show="Time" class='input-group date date_style'>
                                    <input ng-model="mess_input" class="form-control input_style" ng-click="clicked()" id='timepicker' required/>
                                </div>

                                <div ng-show="date" class='input-group date date_style'>
                                    <input ng-model="mess_input" ng-style="textfield" class="form-control input_style" ng-click="clicked()" id='datetimepicker' required/>
                                </div>
                                <input ng-hide="date" type="{{typeInput}}" class="input_style" id="mess_input" ng-style="textfield" ng-model="mess_input" pattern="{{pattern}}" style="padding-left: 3%;" required>
                                <div ng-show="attach">
                                    <div id="hide" ng-style="textfield">
                                        <label class="hand-cursor">
                                         <!-- <input type="file" name="imagepic" ngf-select ng-model="file" ngf-pattern="'image/*,.pdf'" ngf-accept="'image/*,.pdf'" ngf-max-size="20MB"
                                         ngf-min-height="100" ngf-resize="{width: 100, height: 100}" id="inputFileToLoad"/> -->
                                         <input id="inputFileToLoad"  name="imagepic" type="file" accept="image/*,.pdf" image="image1" resize-max-height="800" resize-max-width="800" resize-quality="0.7" resize-type="image/jpg" ng-image-compress />
                                         <span class="fa fa-paperclip" style="font-size: 34px;margin-bottom : -8%"></span>
                                          </label>
                                    </div>
                                </div>
                                <button ng-hide="attach" ng-disabled="!Form.$valid" ng-style="textfield" id="send-button" ng-click="sendmess(mess_input)" class="sendButton ui-btn ui-shadow ui-corner-all">
                                    <i id="send_button_icon" class="fa fa-paper-plane" aria-hidden="true"  style="display: inline-block;font-size: 27px;padding-top: 0.5%;"></i>
                                </button>

                                <button ng-show="attach" ng-style="textfield" id="send-button" ng-click="submit(file)" class="sendButton ui-btn ui-shadow ui-corner-all">
                                        <i id="send_button_icon" class="fa fa-paper-plane" aria-hidden="true"  style="display: inline-block;font-size: 27px;padding-top: 0.5%;"></i>
                                    </button>
                                <!-- <i class="fa fa-paper-plane" aria-hidden="true" ng-click="sendmess()"ng-disabled="text" style="font-size: 27px;padding-top: 0.5%;"></i> -->
                            </div>
                        </fieldset>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <div class="col-mg-4 col-lg-4 col-sm-0"></div>

</div>
<script type="text/ng-template" id="save-dialog.tmpl.html">
    <md-dialog flex="50" style="max-width: 89%;">
        <ang-accordion>
            <div ng-repeat="item in ctrl.infoArray">
                <collapsible-item item-title="{{item.title}}" initially-open="true">
                    <div ng-class="{active: ctrl.activePage.page == $index, inactive: ctrl.activePage.page != $index}">

                        <md-content layout-gt-sm="row" layout-padding style="background-color:#ffffff">
                            <div ng-repeat="field in item.formFields">
                                <div ng-if="field.Type == 'text'">
                                    <md-input-container class="input_width">
                                        <label>{{field.Name}}</label>
                                        <input type="{{field.Type}}" name="{{field.Name}}" ng-model="field.ModelVal">
                                    </md-input-container>
                                </div>
                                <div ng-if="field.Type == 'textarea'">
                                    <label>{{field.Name}}</label>
                                    <textarea rows="4" cols="35" ng-model="field.ModelVal">  </textarea>
                                </div>
                                <div ng-show="field.Type == 'date'">
                                    <md-datepicker ng-model="field.ModelVal" md-placeholder="Select date" md-open-on-focus></md-datepicker>
                                    <!-- <md-input-container class="input_width">
                                        <label>{{field.Name}}</label>
                                        <input  ng-model="field.ModelVal" type="{{field.Type}}"  id={{'datetimepicker'+$index}}   ng-change="ctrl.changeeve($event)" ng-click="ctrl.clickEvent($event)" required/>                              
                                    </md-input-container> -->
                                </div>
                                <div ng-if="field.Type == 'dropdown'">

                                    <md-input-container>
                                        <label>{{field.Name}}</label>

                                        <md-select ng-model="field.ModelVal">
                                            <md-option ng-repeat="x in field.Settings[5].PossibleValue" value="{{x.Text}}">{{x.Text}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>

                    </div>
                    <div layout="row" layout-align="space-between center" ng-class="{inactive: ctrl.activePage.page != $index}">
                        <div>
                            <md-button ng-show="ctrl.infoArray[$index - 1]" ng-click="ctrl.activePage.page = $index-1">PREV</md-button>
                        </div>
                        <div>
                            <md-button ng-show="ctrl.infoArray[$index + 1]" ng-click="ctrl.activePage.page = $index+1">NEXT</md-button>
                            <md-button ng-show="$last" ng-click="ctrl.send_form()">SUBMIT</md-button>
                        </div>
                    </div>
                </collapsible-item>
            </div>
        </ang-accordion>
    </md-dialog>
</script>
<script>
    function sendmess(value, payload) {
        console.log(value, payload);
        var scope = angular.element(document.getElementById('test')).scope();
        var retrunValue = scope.clickfun(payload);
    }
</script>