<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Create User</h1>
</div>
<toast></toast>
<!-- <div class="w-80">
    <div class="auth-text">
        <div class="auth-login-text">
            <h2>Create User</h2>
            <p>Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
        </div>
    </div>
    <div class="card1 card_shadow auth-forms bounceRight">
        <div class="auth-signup">
            <div class="wrapper">
                <h2 class="mb-4 text-primary">Sign Up</h2>
                <form class="forms_form">
                    <div class="form-group"><input class="form-control" placeholder="Name" required="" type="text"></div>
                    <div class="form-group"><input class="form-control" placeholder="Email" required="" type="email"></div>
                    <div class="form-group"><input class="form-control" placeholder="Password" required="" type="password"></div>
                    <div class="form-group"><select class="form-control select-width" placeholder="Role" id="role">
                      </select></div>
                    <div class="form-group"><button class="btn btn-primary px-4" type="submit">Create</button></div>
                </form>
            </div>
        </div>
    </div>
</div> -->
<div class="wrapper-md" style="height: 84%;width:50%;margin:auto;background: #58666e;margin-top: 2%;">
    <div class="card card-shadow" style="background:white;height: 100%;">
        <div class="card-body row">
            <form name="Form" class="form-validation" style="margin: 5% 10% 5% 10%;">
                <h2 class="m-n font-thin" style="text-align: center;">Create User</h2>
                <hr class="type_10">
                <div class="list-group list-group-sm">
                    <div class="form-group">
                        <input placeholder="User Name" class="form-control" ng-model="formData.username" required>
                        <div ng-messages="Form.username.$error" ng-show="Form.$invalid && Form.$dirty && Form.$touched" role="alert" multiple="">
                            <div ng-message="required" class="my-message err-msg">Please enter your name.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="email" placeholder="Email" class="form-control " ng-model="formData.email" required>
                        <div ng-messages="Form.email.$error" ng-show="Form.$invalid && Form.$dirty && Form.$touched" role="alert" multiple="">
                            <div ng-message="required" class="my-message err-msg">Please enter your email.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" class="form-control " ng-keyup="$event.keyCode == 13 && submit()" ng-model="formData.password" required>
                        <div ng-messages="Form.password.$error" ng-show="Form.$invalid && Form.$dirty && Form.$touched" role="alert" multiple="">
                            <div ng-message="required" class="my-message err-msg">Please enter your password.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control select-width" id="role" ng-model="formData.role_id" required ng-init="formData.role_id = 'placeholder'">
                            <option value="placeholder" ng-selected="true" disabled style="color:#ddd;">Role</option>
                            <option ng-repeat="x in rolelist" value="{{x.role_id}}">{{x.role | uppercase}}</option>
                        </select>
                        <div ng-messages="Form.role.$error" ng-show="Form.$invalid && Form.$dirty && Form.$touched" role="alert" multiple="">
                            <div ng-message="required" class="my-message err-msg">Please select the role.</div>
                        </div>
                    </div>
                </div>
                <button class="btn m-b-xs w-xs btn-danger" ng-click="clear()">Clear</button>
                <button type="submit" class="btn m-b-xs w-xs btn-success" ng-disabled="Form.$invalid" ng-click="submit($event)">Create</button>
            </form>
            <!-- <form class="form-horizontal" style="margin: 3% 10% 5% 10%;">
                <h2 class="m-n font-thin" style="text-align: center;">Create User</h2>
                <hr class="type_10">
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="pwd" placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <select class="form-control select-width" id="role">
                    </select>
                </div>
            </form> -->
        </div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div class="modal-body" id="modal-body">
        <h4>{{this.message}}</h4>
    </div>
    <div class="modal-footer">
        <button class="btn m-b-xs w-xs btn-danger" data-dismiss="modal" ng-click="close()">Close</button>
    </div>
</script>