<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Enterprise API</h1>
</div>
<toast></toast>
<div class="wrapper-md" style="background:white;height: 100%;" ng-if="apilist">
    <div class="row">
        <div class="form-group col-sm-4" style="padding:2%;">
            <label for="page" class="col-sm-4 col-form-label" style="text-align:right;"><strong>Per page : </strong></label>
            <div class="col-sm-8">
                <select class="form-control" ng-model="page" id="page" style="width:80%;" ng-init="page = '5'">
                            <option value="5" ng-selected="true">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="25">25</option>
                        </select>
            </div>
        </div>
        <div class="form-group col-sm-4" style="padding:2%;">
            <label for="search" class="col-sm-4 col-form-label" style="text-align:right;"><strong>Search : </strong></label>
            <div class="col-sm-8">
                <input type="text" ng-model="search" class="form-control" id="search" style="width:80%;" placeholder="Search" />
            </div>
        </div>
        <div class="form-group col-sm-4" style="padding:2%;">
            <button class="btn btn-success" style="float:right;" ng-click="createapi()"><i class="fa fa-plus-square" aria-hidden="true"></i> Create API</button>
        </div>
    </div>
    <div class="table-responsive-md">
        <table id="dtBasicExample" class="table table-striped table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm" ng-click="sort_by('_id')">API ID
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('ApiName')">API Name
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('api_info.method')">API Type
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('api_info.url')">API URL
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('created_on')">Created Date
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('updated_on')">Updated Date
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm">Edit
                    </th>
                    <th class="th-sm">Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="gridOptions.length != 0" dir-paginate="item in gridOptions|orderBy:sortKey:reverse|filter:search|itemsPerPage:page">
                    <td>{{item._id}}</td>
                    <td>{{item.ApiName}}</td>
                    <td>{{item.api_info.method | uppercase}}</td>
                    <td>{{item.api_info.url}}</td>
                    <td>{{item.created_on | myDateFormat }}</td>
                    <td>{{item.updated_on | myDateFormat }}</td>
                    <td ng-click="rowClickedit(item._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td ng-click="rowClickdelete(item._id,$event)"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-if="gridOptions.length == 0">
        There are no records to show
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <dir-pagination-controls class="col-sm-6" max-size="5" direction-links="true" boundary-links="true" style="float:right;">
        </dir-pagination-controls>
    </div>
</div>
<div class="row" style="margin:0.5% 0.5%;height:100%;" ng-if="apicreate">
    <div class="card card-shadow api">
        <div class="row">
            <div class="col-md-10 col-sm-10 col-lg-10" style="margin:2% 5%;">
                <input class="form-control" ng-model="ent_api_details['api_name']" placeholder="API Name" />
            </div>
        </div>
        <div class="card-header row">
            <div class="input-group col-sm-10" style="margin:0% 5%;">
                <div class="input-group-btn" style="width:8%;">
                    <select class="form-control init_api_input" ng-model="ent_api_details['method']" ng-init="ent_api_details['method'] = ent_api_details['method']" style="margin-top:5%;">
                        <option value="get" ng-selected="true">GET</option>
                        <option value="post">POST</option>
                    </select>
                </div>
                <input type="text" class="form-control init_api_input" ng-model="ent_api_details['url']" placeholder="URL" style="margin-top:1.2%;" />
                <span class="input-group-addon" style="padding: 0%;width:9%;background: transparent;border: none;">
                    <button class="form-control btn btn-info" ng-click="toggleparams()" style="margin-top:4%;">Params</button>
                </span>
                <div class="input-group-addon" style="background: transparent;border: none;">
                    <button class="btn btn-success" ng-click="getapires()" style="margin-top:4%;">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> Send
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body row">
            <div class="container" style="width:95%;">
                <div class="row" ng-show="ent_api_details.showparams" style="padding-top:1%;">
                    <div class="col-sm-8">
                        <div class="row" ng-repeat="x in ent_api_details.params">
                            <div class="col-sm-5" style="padding-right:1px;">
                                <input class="form-control init_api_input select-width" placeholder="Key" ng-model="x.paramkey">
                            </div>
                            <div class="col-sm-5" style="padding-left:1px;">
                                <input class="form-control init_api_input select-width" placeholder="Value" ng-model="x.paramvalue">
                            </div>
                            <div class="col-sm-2" ng-if="$index > 0">
                                <i class="fa fa-times removeparams" ng-click="removeparams($index)" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2" style="padding:0;">
                        <button class="btn btn-info" style="margin-top: 0px;" ng-click="addparams()">ADD PARAMS</button>
                        <!-- <md-button class="md-raised md-primary" style="margin-top: 0px;" ng-click="ctrl.addparams(ctrl.statenum)">ADD PARAMS</md-button> -->
                    </div>
                </div>
                <ul class="nav nav-tabs" role="tablist" style="padding-top:1%;">
                    <li class="nav-item active">
                        <a class="nav-link " role="presentation" data-toggle="tab" aria-controls="head" href="#head" target="_self">Headers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="presentation" data-toggle="tab" aria-controls="auth" href="#auth" target="_self">Authorization</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" role="presentation" data-toggle="tab" aria-controls="apibody" href="#apibody" target="_self">Body</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content custom-tab-content" style="background:white;">
                    <div id="head" role="tabpanel" class="tab-pane fade in active" style="width:90%;"><br>

                        <div class="row">
                            <div class="col-sm-8">

                                <div class="row" ng-repeat="x in ent_api_details.headerparams">
                                    <div class="col-sm-5" style="padding-right:1px;">
                                        <input class="form-control init_api_input" placeholder="Key" ng-model="x.paramkey" style="width:100%;">
                                    </div>
                                    <div class="col-sm-5" style="padding-left:1px;">
                                        <input class="form-control init_api_input" placeholder="Value" ng-model="x.paramvalue" style="width:100%;">
                                    </div>
                                    <div class="col-sm-1" ng-show="$index > 0">
                                        <i class="fa fa-times removeparams" ng-click="rmhdrparams($index)" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-info" style="margin-top: 0px;" ng-click="addheadparams()">ADD</button>
                            </div>
                        </div>
                    </div>
                    <div id="auth" role="tabpanel" class="tab-pane fade" style="width:90%;"><br>
                        <h3>Currently feature not available</h3>
                    </div>
                    <div id="apibody" role="tabpanel" class="tab-pane fade" style="width:90%;"><br>
                        <div class="row" style="display: flex;padding-left:2%;">

                            <div class="radio" style="margin: -3px;width:19%;">
                                <label class="i-checks">
                                    <input type="radio" name="toasts" ng-model="post_body.type" value="form_data"  ng-change="body_type(post_body.type)" aria-checked="false" tabindex="-1" aria-invalid="false">
                                    <i></i>
                                     Form Data
                                </label>
                            </div>
                            <div class="radio" style="width:31%;">
                                <label class="i-checks">
                                    <input type="radio" name="toasts" ng-model="post_body.type" value="urlencoded" ng-change="body_type(post_body.type)" aria-checked="false" tabindex="-1" aria-invalid="false">
                                    <i></i>
                                     x-www-form-urlencoded
                                </label>
                            </div>
                            <div class="radio" style="width:31%;">
                                <label class="i-checks">
                                        <input type="radio" name="toasts" ng-model="post_body.type" value="raw" ng-change="body_type(post_body.type)" aria-checked="false" tabindex="-1" aria-invalid="false">
                                        <i></i>
                                         Raw
                                    </label>
                            </div>
                        </div>
                        <div class="row" ng-show="post_body.type == 'raw'">
                            <div class="col-sm-12">
                                <textarea ng-change="updateJsonObject()" ng-model="script.raw" rows="12" class="form-control" style="width: 100%" ng-style="formatting"></textarea>

                            </div>
                        </div>
                        <div class="row" ng-show="post_body.type == 'form_data'">
                            <div class="col-sm-8">
                                <div class="row" ng-repeat="x in ent_api_details.form_data_body">
                                    <div class="col-sm-5" style="padding-right:1px;">
                                        <input class="form-control init_api_input" placeholder="Key" ng-model="x.bodykey" style="width:100%;">
                                    </div>
                                    <div class="col-sm-5" style="padding-left:1px;">
                                        <input class="form-control init_api_input" placeholder="Value" ng-model="x.bodyvalue" style="width:100%;">
                                    </div>
                                    <div class="col-sm-1" ng-if="$index > 0">
                                        <i class="fa fa-times removeparams" ng-click="rmformdatabody($index)" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-info" style="margin-top: 0px;" ng-click="addformdatabody()">ADD</button>
                            </div>
                        </div>
                        <div class="row" ng-show="post_body.type == 'urlencoded'">
                            <div class="col-sm-8">
                                <div class="row" ng-repeat="x in ent_api_details.urlencoded_body">
                                    <div class="col-sm-5" style="padding-right:1px;">
                                        <input class="form-control init_api_input" placeholder="Key" ng-model="x.bodykey" style="width:100%;">
                                    </div>
                                    <div class="col-sm-5" style="padding-left:1px;">
                                        <input class="form-control init_api_input" placeholder="Value" ng-model="x.bodyvalue" style="width:100%;">
                                    </div>
                                    <div class="col-sm-1" ng-if="$index > 0">
                                        <i class="fa fa-times removeparams" ng-click="rmurlencodedbody($index)" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-info" style="margin-top: 0px;" ng-click="addurlencodedbody()">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row response">
                    <div clas="col-sm-12" style="min-height: 200px;border: 1px solid #d0d6d4;">
                        <h3 class="m-n font-thin h3" style="padding:1%;">Response {{apistatus}} {{apistatustext}}</h3>
                        <pre>{{apiresponse}}</pre>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div>
                            <button class="btn btn-success" style="margin: auto; margin-bottom: 4%;display: inline-block" ng-click="saveapi()">Save</button>
                            <button class="btn btn-danger" style="margin: auto; margin-bottom: 4%;display: inline-block" ng-click="backtoapilist()">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="confirm.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title"> Delete
            <i class="fa fa-times" aria-hidden="true" style="float:right;" ng-click="ok()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h4>Are you sure you want to delete this api?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn m-b-xs w-xs btn-info" data-dismiss="modal" ng-click="ok()">OK</button>
        <button class="btn m-b-xs w-xs btn-danger" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</script>