<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">BOT List</h1>
</div>
<toast></toast>
<div class="wrapper-md" style="background:white;height: 100%;">
    <!-- <div class="card card-shadow">
        <div class="card-body" style="background:white;"> -->
    <div class="row">
        <div class="form-group col-sm-6" style="padding:2%;">
            <label for="page" class="col-sm-3 col-form-label"><strong>Per page : </strong></label>
            <div class="col-sm-9">
                <select class="form-control" ng-model="page" id="page" style="width:50%;" ng-init="page = '5'">
                            <option value="5" ng-selected="true">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="25">25</option>
                        </select>
            </div>
        </div>
        <div class="form-group col-sm-6" style="padding:2%;">
            <label for="search" class="col-sm-2 col-form-label"><strong>Search : </strong></label>
            <div class="col-sm-10">
                <input type="text" ng-model="search" class="form-control" id="search" style="width:50%;" placeholder="Search" />
            </div>
        </div>
    </div>
    <div class="table-responsive-md">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm" ng-click="sort_by('botId')">Bot ID
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('botName')">Bot Name
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('sandbox_id')">Sandbox Id
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('created_on')">Created Date
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sort_by('LastUpdatedTime')">Updated Date
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm">Edit
                    </th>
                    <th class="th-sm">Delete
                    </th>
                    <th class="th-sm">Deploy
                    </th>
                    <th class="th-sm">View
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="gridOptions.length != 0" dir-paginate="item in gridOptions|orderBy:sortKey:reverse|filter:search|itemsPerPage:page">
                    <td>{{item.botId}}</td>
                    <td>{{item.botName}}</td>
                    <td>{{item.sandbox_id}}</td>
                    <td>{{item.created_on | myDateFormat }}</td>
                    <td>{{item.LastUpdatedTime | myDateFormat }}</td>
                    <td ng-click="rowClickedit(item.botId)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td ng-click="rowClickdelete(item.botId,$event)"><i class="fa fa-trash-o" aria-hidden="true"></i></td>
                    <td ng-click="rowClickdeploy(item.botId)"><i class="fa fa-external-link" aria-hidden="true"></i></td>
                    <td ng-click="rowClickview(item.botId)"><i class="fa fa-eye" aria-hidden="true"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-if="gridOptions.length == 0">
        There are no records to show
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <dir-pagination-controls class="col-sm-6" max-size="5" direction-links="true" boundary-links="true" style="float:right;">
        </dir-pagination-controls>
    </div>
    <!-- </div>
    </div> -->
</div>
<script type="text/ng-template" id="confirm.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title"> Delete
            <i class="fa fa-times" aria-hidden="true" style="float:right;" ng-click="ok()"></i>
        </h3>
    </div>
    <div class="modal-body" id="modal-body">
        <h4>Are you sure you want to delete this bot?</h4>
    </div>
    <div class="modal-footer">
        <button class="btn m-b-xs w-xs btn-info" data-dismiss="modal" ng-click="ok()">OK</button>
        <button class="btn m-b-xs w-xs btn-danger" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</script>