<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Channels</h1>
</div>
<toast></toast>
<div class="wrapper-md" style="background:white;height: 100%;width: 100%;">
    <div class="row">
        <div class="col-md-6">
            <div class="row row-sm text-center">
                <div class="col-xs-4">
                    <div class="panel padder-v bg-primary" ng-click="showwebsite()">
                        <div class="h1 font-thin" style="color:white;">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <span class="text-muted text-xs" style="color:white !important;">Website Chatbot</span>
                        <div class="top text-right w-full" style="color:white !important;">
                            <i class="fa fa-chevron-down m-r-sm" ng-hide="!website_chatbot"></i>
                            <i class="fa fa-chevron-up m-r-sm" ng-hide="website_chatbot"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel padder-v bg-success" ng-click="showwhatsapp()">
                        <div class="font-thin h1" style="color:white;">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        </div>
                        <span class="text-muted text-xs" style="color:white !important;">Whatsapp</span>
                        <div class="top text-right w-full" style="color:white !important;">
                            <i class="fa fa-chevron-down m-r-sm" ng-hide="!whatsapp"></i>
                            <i class="fa fa-chevron-up m-r-sm" ng-hide="whatsapp"></i>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="panel padder-v bg-warning" ng-click="showrcm()">
                        <div class="font-thin h1" style="color:white;">
                            <i class="fa fa-server" aria-hidden="true"></i>
                        </div>
                        <span class="text-muted text-xs" style="color:white !important;">RCM</span>
                        <div class="top text-right w-full" style="color:white !important;">
                            <i class="fa fa-chevron-down m-r-sm" ng-hide="!rcm"></i>
                            <i class="fa fa-chevron-up m-r-sm" ng-hide="rcm"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="website_chatbot">
        <div class="panel-heading font-bold">Website Chatbot</div>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label for="page" class="col-md-3 col-form-label"><strong>Chatbot Direct URL : </strong></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="chatbot_url" placeholder="Chatbot direct URL" />
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-if="whatsapp">
        <div class="panel-heading font-bold">Whatsapp</div>
        <div class="panel-body">
            <div class="form-group col-md-12">
                <label for="page" class="col-md-3 col-form-label"><strong>Whatsapp Direct URL : </strong></label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="whatsapp_url" placeholder="Whatsapp direct URL" />
                </div>
            </div>
        </div>
    </div>
</div>