<div class="row bg_pic" id="test" ng-style="{'background-image': 'url(/uploads/{{bot_id}}/webbgimage.jpg)'}">

    <div class="col-mg-4 col-lg-4 col-sm-0">

    </div>

    <div class="col-mg-4 col-lg-4 col-sm-12 sm_col main_col" style="background: white;">

        <div class="row" id="profile_row" style="border-radius: 11px 11px 11px 11px;">

            <div class="row profile" ng-style="{'background-image': 'url(/uploads/{{bot_id}}/botlogoimage.png)'}">

                <div class="backToChatview" ng-click="chatview()"><i class="fa fa-arrow-circle-left"></i></div>

            </div>
            <hr />
            <div class="row profile_info">

                <div class="row">

                    <h2 style="text-align: center"> About US</h2>

                    <p>{{botDesc}}</p>

                </div>

                <div class="row weblink"><a href="{{weblink}}">{{weblink}}</a></div>

            </div>

        </div>

        <div class="row" id="row_index" style="margin:0px">

            <div class="row row_mar">

                <div class="row title_bar chatHead" ng-style="titlebar" ng-click="viewprofile()">

                    <div class="col-sm-2" class="icon_img">

                        <img data-ng-src="/uploads/{{bot_id}}/botlogoimage.png" style="width:65px;" /> </div>

                    <div class="col-sm-8" class="bot_title" ng-style="title_col">{{botName}}</div>

                </div>

            </div>

            <div class="row row_mar" style="height:100%">

                <div class="col-lg-12 col-md-12 col-sm-6 body_class bg_bot" ng-style="botbackground">

                    <div class="row cb chatContent" id="mesages" style="margin:0;padding: 0 4%;">

                        <div ng-repeat="x in messages" repeat-end="onEnd()">
                            <div class="row">
                                <div ng-if="x.server" class="server_mess">
                                    <div class="cls1">
                                        <img ng-if="tog_brand_icon" data-ng-src="/uploads/{{bot_id}}/botlogoimage.png" alt="Brand Logo" height="42" width="42"> {{username}}

                                    </div>

                                    <div ng-if="x.load" class="chat-spe-bubble" ng-style="bbubble">
                                        <img src="../images/loader.gif" class="img-rounded" width="100" height="40" style="width:30%">
                                    </div>

                                    <div ng-if="x.text || x.stars" class="chat-spe-bubble" ng-style="bbubble">
                                        <p ng-bind-html="x.message"></p>
                                        <div ng-repeat="buttons in x.buttons" ng-style="mess_button_border" class="chat_button_div"><a ng-style="font_col" class="btn btn-primary chat_button" ng-if="buttons.type=='externalLink'" href="{{buttons.url}}" target="_blank"><i class="fa fa-globe button_icon" aria-hidden="true"></i>{{buttons.title}}</a>
                                            <a class="btn btn-primary md-primary chat_button" ng-style="font_col" ng-if="buttons.type=='phone'" href="tel:{{buttons.phone}}"><i class="fa fa-phone button_icon" aria-hidden="true"></i>{{buttons.title}}</a>
                                            <button class="btn btn-primary chat_button" ng-style="font_col" ng-if="buttons.type=='payload'" value="{{buttons.payload}}" ng-click="sendval(buttons.payload,buttons.title)"><i class="fa fa-commenting-o button_icon" aria-hidden="true"></i>{{buttons.title}}</button>
                                        </div>
                                    </div>

                                    <div ng-if="x.img">
                                        <div class="form-group chat-spe-bubble" ng-style="bbubble" style="border:0px;">
                                            <div class="chatImage">
                                                <img ng-src="/uploads/{{bot_id}}/{{x.message.img}}" style="width:100%;float:right" onError="this.onerror=null;this.src='images/noimage.jpg';" class="img-rounded" alt="image">

                                                <span style="font-size:15px" ng-bind-html="x.message.title"></span>

                                                <!-- <h5 ng-bind-html="x.message.subtitle"></h5> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="x.video" class="chat-spe-bubble" ng-style="bbubble" style="padding: 2.5%;">

                                        <iframe width="274" height="154" ng-src="{{url}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                                    </div>

                                </div>

                            </div>

                            <div class="row" ng-if="x.carousel" style="margin-top: 0%;">
                                <ui-carousel slides="x.carousel_array" on-init="onCarouselInit()" slides-to-show="2" slides-to-scroll="1" initial-slide="0" arrows="true" style="margin-left: 7%;margin-right: 7%;width:88%;padding:1%;">
                                    <carousel-item class="carousel_item">
                                        <div class="card carousel_card_shadow" style="background-color:{{item.background}};padding:0%;border-radius: 5px;width:83%;margin:1.5% 8%;" ng-click="$parent.$parent.clickfun(item.button_text,item.bt_payload,item.bt_link)">
                                            <img ng-src="{{item.image}}" style="height:145px;width:100%;border-bottom: 1px solid #ddd;" onError="this.onerror=null;this.src='images/noimage.jpg';" alt="Image" ng-show="item.image" class="car_img" />
                                            <!-- <img ng-src="images/noimage.jpg" ng-hide="item.image" style="height:145px;width:100%;border-bottom: 1px solid #ddd;" /> -->
                                            <h3 style="font-size:17px;padding-left:1%;text-align: center;overflow-wrap: break-word;" ng-show="item.title !== undefined && item.title.length !== 0">{{ item.title | uppercase}}</h3>

                                            <h4 style="font-size:15px;padding-left:1%;text-align: center;overflow-wrap: break-word;" ng-show="item.sub_title !== undefined && item.sub_title.length !== 0">{{item.sub_title}}</h4>

                                            <h5 class="scrollstyle-1" style="font-size:12px;padding-left:1%;text-align: center;overflow-wrap: break-word;overflow-y: scroll;" ng-show="item.small_desc !== undefined && item.small_desc.length !== 0">{{item.small_desc}}</h5>

                                            <h3 class="car_tit" ng-show="item.title2 !== undefined && item.title2.length !== 0" style="text-align: center;overflow-wrap: break-word;">{{ item.title2 | uppercase}}</h3>

                                            <h4 style="font-size:15px;padding-left:1%;text-align: center;overflow-wrap: break-word;" ng-show="item.sub_title2 !== undefined && item.sub_title2.length != 0">{{item.sub_title2 | uppercase}}</h4>
                                            <h5 class="scrollstyle-1" style="font-size: 12px; text-align: center;line-height:inherit;height: 100px; overflow: scroll;overflow-wrap: break-word;" ng-show="item.small_desc2 !== undefined && item.small_desc2.length !== 0">{{item.small_desc2}}</h5>

                                            <div ng-show="item.bt_act !== undefined && item.bt_act !== 'link'" style="background:{{item.button}};box-shadow: none;text-align: center;overflow-wrap: break-word;" id="carbutton" class="card-button" style="margin: 0; width: 98%;">{{item.button_text}}</div>
                                            <span ng-show="item.bt_act !== undefined && item.bt_act == 'link'" class="card-button" style="overflow-wrap: break-word;background:{{item.button}};box-shadow: none;width:100%;display:inline-block;text-align: center;"><a ng-href="{{item.bt_link}}" target="_blank">{{item.button_text}}</a></span>
                                            <p style="font-size: 10px;text-align: center;overflow-wrap: break-word;" ng-show="item.footer !== undefined && item.footer.length !== 0">{{item.footer}}</p>
                                        </div>
                                    </carousel-item>
                                </ui-carousel>
                            </div>

                            <div class="row">

                                <div ng-if="x.Location">

                                    <button type="button" class="btn option-style" ng-style="{'background': (isHover ? bthover : btcolor),'border-color':btbordercolor,'color':(isHover ? btcolor: bthover), 'margin-left':'3%' }" ng-mouseenter="isHover = true" ng-mouseleave="isHover = false" ng-click="mapmodal()"
                                        value="">Share Location</button>

                                </div>

                            </div>

                            <div class="row">

                                <div ng-if="x.suggestions" class="sugg" ng-style="sugg_sty">

                                    <div style="margin-left: 23%;">

                                        <div ng-repeat="(key, value)  in x.options" style="margin-right:3%;margin-bottom: 1%;">

                                            <button type="button" class="btn option-style" ng-style="{'background': (isHover ? bthover : btcolor),'border-color':btbordercolor,'color':(isHover ? btcolor: bthover),'width': '70%'}" ng-mouseenter="isHover = true" ng-mouseleave="isHover = false" ng-click="sendval(value,key)"
                                                value={{value}}>{{key}}</button>

                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="userSpeech" ng-show="x.user">
                                    <div ng-if="x.text" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">
                                        <p ng-bind-html="x.mess"></p>
                                    </div>
                                    <div ng-if="x.form" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">
                                        <div ng-repeat="(key, val) in x.mess">
                                            <p style="padding: 0px;">{{key}} : {{val}} </p>
                                        </div>
                                    </div>
                                    <div ng-show="x.pdf" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">

                                        <object ng-attr-data="{{x.pdfbase}}" type="application/pdf"></object>

                                        <embed width="100%" height="100%" name="plugin" style="overflow: hidden" scrolling="no" ng-src="{{fileLoadedEvent}}">

                                        <p></p>

                                    </div>

                                    <div ng-if="x.image" id="outgoing-speech" class="outgoing-speech" ng-style="ububble">

                                        <img data-ng-src="{{x.imagebase}}" style="width:65px;" />

                                    </div>

                                    <div class="row">

                                        <div ng-if="x.loc" id="outgoing-speech_img" class="outgoing-speech_img" style="border-radius: 12px 0 12px 12px;float:right;margin-left: -17%;position: relative;width: 80%;font-size: 14px;padding: 1%;color: white !important;" ng-style="uimgbubble">

                                            <p>{{x.mess.title}}</p>

                                            <img class="speechImage" ng-src={{x.mess.image_url}}>

                                        </div>

                                    </div>

                                    <div ng-class="{'cls1  user_icon': x.user, 'cls1  user_icon_img': x.user} ">

                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <script type="text/ng-template" id="mapContent.html" style="height: 400px;width: 500px;">

                <div class="modal-header">

                    <h3 class="modal-title" id="modal-title">Location</h3>

                </div>

                <div class="modal-body" id="modal-body" style="height: 400px;width: 600px;">

                    <input id="pac-input" type="text" ng-model="autocomplete" placeholder="Search Place">

                    <div id="map"></div>

                </div>

                <div class="modal-footer">

                    <button class="btn btn-success" ng-click="this.ok()">

                        Send

                    </button>

                    <button class="btn btn-danger" ng-click="this.cancel('not useful')">

                        Cancel

                    </button>

                </div>

            </script>

            <div class="row row_mar input_field" >

                <div>
                    <form name="Form" class="form_input">

                        <fieldset ng-disabled="text">

                            <div class="inf" ng-style="buttonColor" >

                                <!-- <input ng-show="date" ng-model="mess_input" mobiscroll-date="minmaxSettings" mobiscroll-instance="demo" style="width: 100%;font-size:  36px;border-width: 0px;height: 36px;border-radius: 51px 0px 0px 51px;"

                                    /> -->

                                <div ng-show="Time" class='input-group date date_style'>

                                    <input ng-model="mess_input" class="form-control input_style" ng-click="clicked()" id='timepicker' required/>

                                </div>
                                <div ng-show="date" class='input-group date date_style'>
                                    <input ng-model="mess_input" ng-style="textfield" class="form-control input_style" ng-click="clicked()" id='datetimepicker' required/>
                                </div>
                                <input ng-hide="date || star " type="{{typeInput}}" class="input_style" id="mess_input" ng-style="textfield" ng-change="showskip(mess_input)" ng-model="mess_input" pattern="{{pattern}}" style="padding-left: 3%;" required placeholder="Write your message here..">

                                <div ng-show="star" class="input-group date date_style  _row feedback-rating-row">
                                    <div class="col-sm-16">
                                        <rating ng-model="mess_input" max="max_rating" on-hover="hovering_over(value)" on-leave="overStar = null" titles="['one','two','three','four','five']">
                                        </rating>


                                    </div>
                                </div>
                                <div ng-show="attach" ng-style="buttonColor">
                                    <div id="hide" ng-style="buttonColor">
                                        <label class="hand-cursor">
                                             <input type="file" name="imagepic" ngf-select ng-model="file" ngf-pattern="'image/*,.pdf'" ngf-accept="'image/*,.pdf'" ngf-max-size="20MB"
                                             ngf-min-height="100" ngf-resize="{width: 100, height: 100}" id="inputFileToLoad" style="display:none;"/>
                                             <span class="fa fa-paperclip" style="font-size: 36px;margin-top: 35%;"></span>
                                              </label>
                                    </div>
                                </div>
                                <button ng-show="star" id="send-button" ng-click="sendmess(mess_input)" class="sendButton ui-btn ui-shadow ui-corner-all" ng-style="buttonColor">
                                    <i id="send_button_icon" class="fa fa-paper-plane submitFile" aria-hidden="true" ></i>
                                </button>
                                <button ng-hide="attach || star || skip_input" ng-disabled="!Form.$valid" ng-style="buttonColor" id="send-button" ng-click="sendmess(mess_input)" class="sendButton ui-btn ui-shadow ui-corner-all">
                                    <i id="send_button_icon" class="fa fa-paper-plane submitFile" aria-hidden="true" ></i>
                                </button>
                                <button ng-show="attach" ng-style="buttonColor" id="send-button" ng-click="submit(file)" class="sendButton ui-btn ui-shadow ui-corner-all">
                                    <i id="send_button_icon" class="fa fa-paper-plane submitFile" aria-hidden="true" ></i>
                                </button>
                                <button ng-show="skip_input"  id="send-button" ng-click="skip()" class="ui-btn ui-shadow ui-corner-all" ng-style="buttonColor">
                                    <i id="send_button_icon" class="fa fa-step-forward fa-2x" aria-hidden="true"></i>
                                </button>
                                <!-- <i class="fa fa-paper-plane" aria-hidden="true" ng-click="sendmess()"ng-disabled="text" style="font-size: 27px;padding-top: 0.5%;"></i> -->

                            </div>

                        </fieldset>

                    </form>

                </div>

            </div>

        </div>
    </div>

    <div class="col-mg-4 col-lg-4 col-sm-0"></div>

</div>



<script type="text/ng-template" id="save-dialog.tmpl.html">

    <div class="modal-body" id="modal-body">
        <div class="panel-group" ng-model="this.infoArray.activePanel" role="tablist" aria-multiselectable="true" bs-collapse>
            <div class="panel panel-default" ng-repeat="item in this.infoArray">
                <div class="panel-heading" role="tab" bs-collapse-toggle>
                    <h3 class="panel-title">
                        {{ item.heading }}
                        <i class="fa fa-chevron-right" ng-show="!bs-collapse-toggle" aria-hidden="true" style="float:right;"></i>
                        <i class="fa fa-chevron-down" ng-show="bs-collapse-toggle" aria-hidden="true" style="float:right;"></i>
                    </h3>
                </div>
                <div class="panel-collapse" role="tabpanel" bs-collapse-target>
                    <div class="panel-body">
                        <div ng-class="{active: this.infoArray.activePanel == $index, inactive: this.infoArray.activePanel != $index}">
                            <div style="background-color:#ffffff;display:block">
                                <div ng-repeat="field in item.fields | orderBy:'order'" class="fields">
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-sm-12">
                                            <ng-switch on="field.type">
                                                <div ng-if="field.type =='header'" style="background:#efefef;font-weight: 700;">
                                                    <p>{{field.name}} </p>
                                                </div>
                                                <div ng-switch-default class="input {{field.type}}" ng-class="field.required && 'required'">
                                                    <div class="form-group">
                                                        <label ng-if="field.type !='header'">
                                                    {{field.name}}
                                                    </label>
                                                        <ng-switch on="field.type">
                                                            <div>
                                                                <input class="form-control" ng-switch-when="text" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}" style="width:100%">


                                                                <input class="form-control" ng-switch-when="email" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}" style="width:100%">

                                                                <input class="form-control" ng-switch-when="number" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}">

                                                                <input class="form-control" ng-switch-when="phone" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}">
                                                            </div>

                                                            <div>
                                                                <input ng-switch-when="checkbox" type="checkbox" ng-model="field.modelvalue" value="{{field.modelvalue}}" id="field" placeholder="{{field.instructions}}">
                                                            </div>
                                                            <div>
                                                                <div ng-switch-when="slider">
                                                                    <input type="range" min="{{field.min}}" max="{{field.max}}" ng-model="field.modelvalue" class="slider">
                                                                    <input class="form-control" type="number" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}">
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <textarea class="form-control" ng-switch-when="textarea" ng-model="field.modelvalue" placeholder="{{field.instructions}}">{{field.modelvalue}}
                                                        </textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="text" ng-switch-when="date" class="form-control" data-date-format="dd-MM-yyyy" ng-model="field.modelvalue" data-max-date="{{field.maxdate}}" data-min-date="{{field.mindate}}" placeholder="{{field.instructions}}" bs-datepicker>
                                                            </div>
                                                            <!-- <div>
                                                                <input class="form-control" ng-switch-when="date" min='{{field.mindate}}' max='{{field.maxdate}}' value="{{field.modelvalue}}" ng-model="field.modelvalue" placeholder="{{field.instructions}}" type="date">
                                                            </div> -->
                                                            <div>
                                                                <select class="form-control" ng-switch-when="select" ng-model="field.modelvalue">
                                                            <option ng-repeat="option in field.options"
                                                                value="{{option.value}}">{{option.name}}
                                                            </option>
                                                        </select>
                                                            </div>
                                                            <div>
                                                                <select class="form-control" ng-switch-when="multiple" ng-model="field.modelvalue" multiple>
                                                            <option ng-repeat="option in field.options"
                                                                value="{{option.value}}">{{option.name}}
                                                            </option>
                                                        </select>
                                                            </div>
                                                            <div>
                                                                <fieldset ng-switch-when="radio">
                                                                    <label ng-repeat="option in field.options">
                                                                <input type="radio" ng-model="field.modelvalue" value="{{option.value}}">
                                                                {{option.name}}
                                                            </label>
                                                                </fieldset>
                                                            </div>
                                                            <div>
                                                                <fieldset ng-switch-when="checkboxes">
                                                                    <label ng-repeat="option in field.options">
                                                                <input type="checkbox" ng-model="field.modelvalue[tokenize(option.name)]"
                                                                    value="{{option.value}}"> {{option.name}}
                                                            </label>
                                                                </fieldset>
                                                            </div>
                                                        </ng-switch>
                                                    </div>
                                                </div>
                                            </ng-switch>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div ng-class="{inactive: this.activePanel != $index}">
                            <div>
                                <button class="btn btn-info" ng-show="this.infoArray[$index - 1]" ng-click="this.infoArray.activePanel = $index-1" style="float:right;">PREV</button>
                            </div>
                            <div>
                                <button class="btn btn-info" ng-show="this.infoArray[$index + 1]" ng-click="this.infoArray.activePanel = $index+1" style="float:right;">NEXT</button>
                                <button class="btn btn-success" ng-show="$last" ng-click="send_form()" style="float:right;margin-right: 1%;">SUBMIT</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <md-dialog flex="50" class="accordian_width" style="margin-top: -1%;min-height: 585px;">

        <ang-accordion>

            <div ng-repeat="item in this.infoArray">

                <collapsible-item item-title="{{item.header}}" initially-open="true">

                    <div ng-class="{active: this.activePage.page == $index, inactive: this.activePage.page != $index}">

                        <div class="row" style="background-color:#ffffff;display:block">

                            <div ng-repeat="field in item.fields | orderBy:'order'" class="fields">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12">
                                        <ng-switch on="field.type">
                                            <div ng-if="field.type =='header'" style="background:#efefef;font-weight: 700;">
                                                <p>{{field.name}} </p>
                                            </div>
                                            <div ng-switch-default class="input {{field.type}}" ng-class="field.required && 'required'">
                                                <div class="form-group">
                                                    <label ng-if="field.type !='header'">
                                                   {{field.name}}
                                                </label>
                                                    <ng-switch on="field.type">
                                                        <div class="row">
                                                            <input class="form-control animated fadeInRight" ng-switch-when="text" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}" style="width:100%">


                                                            <input class="form-control animated fadeInRight" ng-switch-when="email" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}" style="width:100%">

                                                            <input class="form-control animated fadeInRight" ng-switch-when="number" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}">

                                                            <input class="form-control animated fadeInRight" ng-switch-when="phone" type="{{field.type}}" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}" value="{{field.modelvalue}}" placeholder="{{field.placeholder}}">
                                                        </div>

                                                        <div class="row">
                                                            <input ng-switch-when="checkbox" type="checkbox" class="animated fadeInRight" ng-model="field.modelvalue" value="{{field.modelvalue}}" id="field" placeholder="{{field.instructions}}">
                                                        </div>
                                                        <div class="row">
                                                            <div ng-switch-when="slider">
                                                                <input type="range" min="{{field.min}}" max="{{field.max}}" ng-model="field.modelvalue" class="slider">
                                                                <input class="form-control animated fadeInRight" type="number" ng-model="field.modelvalue" ng-bind-attr="{required:'{{field.required}}'}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <textarea class="form-control animated fadeInRight" ng-switch-when="textarea" ng-model="field.modelvalue" placeholder="{{field.instructions}}">{{field.modelvalue}}
                                                    </textarea>
                                                        </div>
                                                        <div class="row">
                                                            <input class="form-control animated fadeInRight" ng-switch-when="date" min='{{field.mindate}}' max='{{field.maxdate}}' ng-model="field.modelvalue" placeholder="{{field.instructions}}" type="date" ng-model="field.modelvalue">
                                                        </div>
                                                        <div class="row">
                                                            <select class="form-control animated fadeInRight" ng-switch-when="select" ng-model="field.modelvalue">
                                                        <option ng-repeat="option in field.options"
                                                            value="{{option.value}}">{{option.name}}
                                                        </option>
                                                    </select>
                                                        </div>
                                                        <div class="row">
                                                            <select class="form-control animated fadeInRight" ng-switch-when="multiple" ng-model="field.modelvalue" multiple>
                                                        <option ng-repeat="option in field.options"
                                                            value="{{option.value}}">{{option.name}}
                                                        </option>
                                                    </select>
                                                        </div>
                                                        <div class="row">
                                                            <fieldset ng-switch-when="radio">
                                                                <label ng-repeat="option in field.options">
                                                            <input class="animated fadeInRight"
                                                                type="radio" ng-model="field.modelvalue" value="{{option.value}}">
                                                            {{option.name}}
                                                        </label>
                                                            </fieldset>
                                                        </div>
                                                        <div class="row">
                                                            <fieldset ng-switch-when="checkboxes">
                                                                <label ng-repeat="option in field.options">
                                                            <input class="animated fadeInRight"
                                                                type="checkbox" ng-model="field.modelvalue[tokenize(option.name)]"
                                                                value="{{option.value}}"> {{option.name}}
                                                        </label>
                                                            </fieldset>
                                                        </div>
                                                    </ng-switch>
                                                </div>
                                            </div>
                                        </ng-switch>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row" layout-align="space-between center" ng-class="{inactive: this.activePage.page != $index}">

                        <div>

                            <button class="btn btn-info" ng-show="this.infoArray[$index - 1]" ng-click="this.activePage.page = $index-1">PREV</button>

                        </div>

                        <div>

                            <button class="btn btn-info" ng-show="this.infoArray[$index + 1]" ng-click="this.activePage.page = $index+1">NEXT</button>

                            <button class="btn btn-success" ng-show="$last" ng-click="send_form()">SUBMIT</button>

                        </div>

                    </div>

                </collapsible-item>

            </div>

        </ang-accordion>

    </md-dialog> -->

</script>

<script>
    function sendmess(value, payload, link) {

        console.log("value:" + value, "payload:" + payload);
        var type = (payload != "") ? payload : link;
        var scope = angular.element(document.getElementById('test')).scope();

        var retrunValue = scope.clickfun(type);

    }
</script>
</script>