<div class="row">
  <div class="col-sm-6" style="padding-top:6%;">
      <div class="row">
          <img src="images/Karix_reg.png" style="width:190%;" />
      </div>
  </div>
  <div class="col-sm-6" style="padding-top:5%;padding-right:6%;height: 90vh;">
      <div class="container layer w-xxl w-auto-xs" style="border: none;background: transparent;margin-right: 8%;height: 88vh;">
          <div class="container layer w-xxl w-auto-xs" id="layer1" style="margin-right: 2%;height: 75vh;">
              <div class="container layer w-xxl w-auto-xs" id="layer2" style="margin-right: 2%;height: 75vh;">
                  <div class="container layer w-xxl w-auto-xs" id="layer3" style="margin-right: 2%;height: 75vh;padding: 10%;">
                      <a href class="navbar-brand block m-t">Karix</a>
                      <div class="m-b-lg">
                          <div class="wrapper text-center">
                              <strong>Sign in to get in touch</strong>
                          </div>
                          <form name="Form" class="form-validation">
                              <!-- <div class="text-danger wrapper text-center" ng-show="authError">

                      </div> -->
                              <div class="list-group list-group-sm">
                                  <div class="list-group-item reg-list">
                                      <input type="text" placeholder="User Name" class="form-control no-border reg-input" ng-model="vm.formData.username" required>
                                  </div>
                                  <div ng-messages="Form.username.$error" ng-show="!Form.$valid" role="alert" multiple="">
                                      <div ng-message="required" class="my-message err-msg">Please enter your name.</div>
                                  </div>
                                  <div class="list-group-item reg-list">
                                      <input type="password" placeholder="Password" class="form-control no-border reg-input" ng-model="vm.formData.password" ng-keyup="$event.keyCode == 13 && submit()" required>
                                  </div>
                                  <div ng-messages="Form.password.$error" ng-show="!Form.$valid" role="alert" multiple="">
                                      <div ng-message="required" class="my-message err-msg">Please enter your password.</div>
                                      <!-- <div ng-message="md-maxlength" class="my-message">Too long.</div> -->
                                  </div>
                              </div>
                              <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="submit()">Log in <i class="fa fa-spinner fa-pulse fa-2x fa-fw" ng-if="loader"></i></button>
                              <!-- <div class="text-center m-t m-b"><a ui-sref="access.forgotpwd">Forgot password?</a></div> -->
                              <!-- <div class="line line-dashed"></div>
                              <p class="text-center"><small>Do not have an account?</small></p>
                              <a ng-click="register()" class="btn btn-lg btn-block">Create an account</a> -->
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>