<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Dashboard</h1>
</div>
<toast></toast>
<div class="wrapper-md" style="background:white;text-align: center;height: 100%;display: table;width: 100%;">
    <div>
        <div class="row">
            <div class="form-group col-sm-3 no-padder">
                <label for="page" class="col-sm-4 control-label no-padder"><strong>BOT Name : </strong></label>
                <div class="col-sm-8 no-padder">
                    <!-- <input type="text" class="form-control" ng-model="search" placeholder="BOT ID/Name" typeahead="gridOption as (gridOption.botID + ' ' + gridOption.botname) for gridOption in gridOptions | filter:$viewValue | limitTo:8" typeahead-input-formatter="formatLabel($model)"> -->
                    <input type="text" class="form-control" ng-model="search" bs-options="gridOption as (gridOption.botID + ' ' + gridOption.botname) for gridOption in gridOptions" placeholder="BOT ID/Name" bs-typeahead>
                </div>
            </div>
            <div class="form-group col-sm-3 no-padder">
                <label for="mindate" class="col-sm-4 control-label no-padder"><strong>From Date : </strong></label>
                <div class="col-sm-8 no-padder">
                    <input type="text" id="mindate" class="form-control" ng-model="min_date" data-max-date="{{max_date}}" placeholder="From" data-date-format="yyyy-MM-dd" bs-datepicker>
                </div>
            </div>
            <div class="form-group col-sm-3 no-padder">
                <label for="maxdate" class="col-sm-4 control-label no-padder"><strong>To Date : </strong></label>
                <div class="col-sm-8 no-padder">
                    <input type="text" id="maxdate" class="form-control" ng-model="max_date" data-min-date="{{min_date}}" placeholder="To" data-date-format="yyyy-MM-dd" bs-datepicker>
                </div>
            </div>
            <div class="form-group col-sm-3 ">
                <label for="report" class="col-sm-3 control-label no-padder"><strong>Report : </strong></label>
                <div class="col-sm-6 no-padder">
                    <select class="form-control select-width" ng-model="selected_report" ng-init="selected_report = 'none'">
                        <option value="none" ng-selected="true"><em>None</em></option>
                        <option value="chat">Chat Conversation</option>
                        <option value="chat_media">Chat Media</option>
                        <option value="form_data">Form Data</option>
                        <option value="form_media">Form Media</option>
                    </select>
                </div>
                <button class="btn btn-success btn-md col-sm-3" ng-click="search_report($event)" style="width:auto;float:right;">GO</button>
            </div>
        </div>
    </div>
    <!-- <div class="card card-shadow">
        <div class="card-body" > -->
    <hr>
    <br>
    <div class="row">
        <h1 class="m-n font-thin" ng-if="exists">
            There are no bots for this account.
        </h1>
        <h1 class="m-n font-thin" ng-if="exists">
            Click below to create one now!!
        </h1>
        <h1 class="m-n font-thin" ng-show="!exists">
            Click below to create bot now!!
        </h1>
        <button class="btn btn-dark btn-lg" style="margin-bottom:1%;margin-top: 1%;" ng-click="createbot()">Create Bot</button>
    </div>

    <!-- </div>
    </div> -->
</div>
<script type="text/ng-template" id="report.tmpl.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">
            Form List
        </h3>
    </div>
    <div class="modal-body" id="modal-body" style="background:#ddd;">
        <div class="card card-shadow" style="background:white;">
            <div class="card-body row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="form-group col-sm-3" style="padding:1.5%;">
                        <h4>Forms: </h4>
                    </div>
                    <div class="form-group col-sm-7" style="padding:1.5%;">
                        <select class="form-control select-width" ng-model="this.selected_form" ng-init="this.selected_form = 'none'">
                            <option value="none" ng-selected="true"><em>None</em></option>
                            <option ng-repeat="bot_form in this.bot_forms" ng-value="bot_form">
                                {{bot_form}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn m-b-xs w-xs btn-danger" data-dismiss="modal" ng-click="ok()">Close</button>
    </div>
</script>