<div class="app app-header-fixed app-aside-folded" style="height:100vh;">
    <!-- header and sidebar -->
    <sidebar></sidebar>
    <!-- content -->
    <div id="content" class="app-content" role="main">
        <div class="app-content-body">
            <div ui-view style="height:100%;"></div>
        </div>
    </div>
    <!-- /content -->

    <!-- footer -->
    <footer id="footer" class="app-footer" role="footer">
        <div class="wrapper b-t bg-light">
            <span class="pull-right">Powered by <a href="">Karix</a> 
                <a href ui-scroll="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a>
            </span> &copy; 2018 Copyright.
        </div>
    </footer>
    <!-- / footer -->
</div>