<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>web Client</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDauAEvG2-BM5ZbeF1wgUQroeq-uOIfnLw&libraries=places" async
        defer></script>
    <!-- <script src="./bower_components/ngmap/build/scripts/ng-map.min.js"></script> -->
    <script src="controller.js"></script>

</head>

<body ng-app="webClientModule">
    <div class="container">
        <div class="row">
            <div class="col" ng-controller="webCtrl">
                <form>
                    <div class="form-group">
                        <p>message</p>
                        <label for="message-with-options">message with options</label>
                        <select class="form-control" ng-model="localModel.item" ng-options="item as item.name for item in itemsObj.items" ng-change="onChange(localModel.item)">
                        </select>
                    </div>
                </form>
                <form>
                    <div class="form-group" style="border:2px;border-style:solid;border-color:grey;">
                        <div ng-repeat="option in options" style="margin-left:10px;margin-bottom:10px;margin-top:10px;">
                            <img ng-src="{{option.image}}" class="img-rounded" alt="Cinque Terre" width="304" height="236">
                            <h3>{{option.title}}</h3>
                            <h5>{{option.subtitle}}</h5>
                            <p>Please find the below button</p>
                            <button class="btn btn-success" type="submit" ng-repeat="button in buttonOptions" style="margin-right:10px;margin-bottom:10px;">{{button}}</button>
                        </div>
                    </div>
                </form>
                <div id="test">
                    <button type="button" class="btn btn-primary" ng-repeat="reply in replies" style="border-radius:50%;margin-right:10px;margin-left:10px;">{{reply}}</button>
                </div>
                <div>
                    <button class="btn btn-success" type="submit" data-toggle="modal" data-target="#mapModal" ng-click="initAutocomplete()">Location</button>
                </div>
                <!-- Modal -->
                <div>
                    <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="mapModalLabel">Your Location</h5>
                                    <button type="button" class="close" ng-click="close()" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div id="searchPlace" class="modal-body" style="margin-left:30px;">
                                    <input id="pac-input" type="text" ng-model="autocomplete" placeholder="Search Place">
                                    <div id="map"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col"></div>
            <div class="col"></div> -->
        </div>
    </div>
    </div>
</body>

</html>