<div class="row">
    <div class="col-sm-6" style="padding-top:4%;">
        <div class="row">
            <img src="images/Karix_reg.png" style="width:190%;" />
        </div>
    </div>
    <div class="col-sm-6" style="padding-top:4%;padding-right:6%;">
        <div class="container layer w-xxl w-auto-xs" style="border: none;background: transparent;margin-right: 8%;">
            <div class="container layer w-xxl w-auto-xs" id="layer1" style="margin-right: 2%;">
                <div class="container layer w-xxl w-auto-xs" id="layer2" style="margin-right: 2%;">
                    <div class="container w-xxl w-auto-xs" id="layer3" style="margin-right: 2%;">
                        <a href class="navbar-brand block m-t">Karix</a>
                        <div class="m-b-lg">
                            <div class="wrapper text-center">
                                <strong>Sign up to find interesting thing</strong>
                            </div>
                            <form name="Form" class="form-validation">
                                <div class="list-group list-group-sm">
                                    <div class="list-group-item reg-list">
                                        <input placeholder="User Name" class="form-control no-border reg-input" ng-model="vm.formData.username" required>
                                        <div ng-messages="Form.username.$error" ng-if="Form.$valid" role="alert" multiple="">
                                            <div ng-message="required" class="my-message">Please enter your name.</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item reg-list">
                                        <input type="email" placeholder="Email" class="form-control no-border reg-input" ng-model="vm.formData.email" required>
                                        <div ng-messages="Form.email.$error" ng-if="Form.$valid" role="alert" multiple="">
                                            <div ng-message="required" class="my-message">Please enter your email.</div>
                                        </div>
                                    </div>
                                    <div class="list-group-item reg-list">
                                        <input type="password" placeholder="Password" class="form-control no-border reg-input" ng-keyup="$event.keyCode == 13 && submit()" ng-model="vm.formData.password" required>
                                        <div ng-messages="Form.password.$error" ng-if="Form.$valid" role="alert" multiple="">
                                            <div ng-message="required" class="my-message">Please enter your password.</div>
                                            <!-- <div ng-message="md-maxlength" class="my-message">Too long.</div> -->
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="!Form.$valid" ng-click="submit()">Sign up</button>
                                <div class="line line-dashed"></div>
                                <p class="text-center"><small>Already have an account?</small></p>
                                <a ui-sref="login" class="btn btn-lg btn-block">Sign in</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <md-content  layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" class="login-form">
    <md-card flex="flex" flex-gt-sm="50" flex-gt-md="33">
        <md-toolbar>
          <div class="md-toolbar-tools">
            <h2><span>Register</span></h2>
          </div>
        </md-toolbar>
        <md-card-content>
          <form name="Form">
            <md-input-container class="md-block">
              <label>user Name</label>
              <input type="text" name="username" ng-model="vm.formData.username" placeholder="User Name" required=""/>
              <div ng-messages="Form.username.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your name.</div>
              </div>
            </md-input-container>
               <md-input-container class="md-block">
              <label>Email</label>
              <input type="text" name="email" ng-model="vm.formData.email" placeholder="Email" required=""/>
              <div ng-messages="Form.email.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your email.</div>
              </div>
            </md-input-container>
            
            <md-input-container class="md-block">
              <label>Password</label>
              <input type="password" name="password" ng-model="vm.formData.password" placeholder="password" ng-keyup="$event.keyCode == 13 && submit()" required="" md-maxlength="16"/>
              <div ng-messages="Form.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Please enter your password.</div>
                <div ng-message="md-maxlength" class="my-message">Too long.</div>
              </div>
            </md-input-container>
            <md-button ng-disabled="!Form.$valid" ng-click="submit()" class="md-raised md-primary">&nbsp Register Now &nbsp</md-button>
          </form>
        </md-card-content>
    </md-card>
  </md-content> -->