<div class="wrapper-md" style="height:90vh;overflow-y: scroll">
    <div class="clearfix pb">
        <div class="form-group">
            <div class="pull-left mr">
                <label>Select Flow Name</label>
                <select ng-model="botDetailsModel" ng-change="changeBotFlowType()" ng-options="bot.botName for bot in botDetails track by bot.botId" class="form form-control inline-block" style="width:215px">
                      <option value="">Select Flow Name</option>
                  </select>
            </div>
            <div class="pull-left ml mr">
                <div class="flow-type">
                    <label class="botflow-container">
                              <input ng-model="messageByType" value="user" ng-change='changeMessageByType(messageByType)' type="radio" name="options" id="option1"> Incoming <span class="checkmark"></span>
                          </label>
                    <label class="botflow-container">
                              <input ng-model="messageByType" ng-change='changeMessageByType(messageByType)' type="radio" name="options" id="option2" value="bot"> Outgoing
                              <span class="checkmark"></span>
                          </label>
                    <label class="botflow-container">
                              <input ng-model="messageByType" ng-change='changeMessageByType(messageByType)' type="radio" name="options" id="option3" value="">
                              Incoming &amp; Outgoing
                              <span class="checkmark"></span>
                          </label>
                </div>
            </div>
            <div class="pull-left ml mr">
                <div class="inline-block dt-range">
                    <input date-range-picker id="daterange" name="daterange" class="form-control date-picker" type="text" ng-model="datePicker" options="opts" required ng-change="SimplePickerChange();" />
                    <i class="fa fa-calendar"></i>
                </div>
            </div>
            <div class="pull-left ml">
                <button ng-click="downloadReport()" class="btn btn-primary "> <i class="fa fa-download"></i> Download Report</button>
            </div>
            <div class="pull-right ml">
                <a href="javascript:void(0);" ng-click="resetReport();" title="Clear Filter" class="btn reset-btn">Reset</a>
            </div>
        </div>
    </div>

    <div class="row pt pb grey-backg">
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="dash-box text-center">
                <div class="col">
                    <h3 class="metrics-value">{{totalconversations}}</h3>
                    <h3 class="metrics-label"><i class="fa fa-comments-o"></i> Total Conversations</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="dash-box text-center">
                <div class="col">
                    <h3 class="metrics-value">{{totalUsersCount}}</h3>
                    <h3 class="metrics-label"><i class="fa fa-users"></i> Total Users</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="dash-box text-center">
                <div class="col">
                    <h3 class="metrics-value">{{totalMessageCount}}</h3>
                    <h3 class="metrics-label"><i class="fa fa-commenting"></i> Total Messages</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6">
            <div class="dash-box text-center">
                <div class="col">
                    <h3 class="metrics-value">{{totalfiles}}</h3>
                    <h3 class="metrics-label"><i class="fa fa-file-text"></i> Total Files</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix position-relative mt mb pb">
        <div class="bg-white">
            <h5 class="chart-title position-absolute">Conversations vs Users</h5>
            <div ng-show="conversationVsUsers">
                <div id="chartdiv_ConversationVsUsers" class="pb chartdiv"></div>
            </div>
            <div ng-show="!conversationVsUsers" class="on-no-data">
                <h5 class="text-warning">No records found!</h5>
            </div>
        </div>
    </div>
    <div class="clearfix position-relative mt mb pb">
        <div class="bg-white">
            <h5 class="chart-title position-absolute">Messages vs Users</h5>
            <div ng-show="messageVsUsers" id="chartdiv_MessageVsUsers" class="pb  chartdiv"></div>
            <div ng-show="!messageVsUsers" class="on-no-data">
                <h5 class="text-warning">No records found!</h5>
            </div>
        </div>
    </div>
    <div class="clearfix position-relative mt mb pb">
        <div class="bg-white">
            <h5 class="chart-title position-absolute">Files vs Users</h5>
            <div ng-show="usersVsFiles" id="chartdiv_filesVsUsers" class="pb chartdiv"></div>
            <div ng-show="!usersVsFiles" class="on-no-data">
                <h5 class="text-warning">No records found!</h5>
            </div>
        </div>
    </div>

    <!-- <div class="clearfix position-relative mt mb">
        <div class="bg-white">
            <h5 class="chart-title position-absolute">Sunburst chart</h5>
            <div ng-show="sunburstchartFlag" class="text-center pb chartdiv" style="height:610px">
                <svg id="sunburstChart"></svg>
            </div>
            <div ng-show="!sunburstchartFlag" class="on-no-data">
                <h5 class="text-warning">No records found!</h5>
            </div>
        </div>
    </div> -->

    <div class="clearfix position-relative mt mb pb">
        <div class="bg-white pl pt">
            <h5 class="chart-title pl">Report</h5>
            <div ng-if="reportGridFlag" id="reportDataGrid" ej-grid e-datasource="reportGridData" e-columns="col" e-allowpaging="true" e-allowfiltering="true" e-filtersettings="filterType" e-toolbarclick="toolbarHandler" e-toolbarsettings-showtoolbar='true' e-toolbarsettings-toolbaritems='toolbar'
                allowSorting="true">
            </div>
            <div ng-if="!reportGridFlag" class="pl">
                <h5 class="text-warning">No records found!</h5>
            </div>
        </div>
    </div>
</div>