<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">End users list</h1>
</div>
<toast></toast>
<div class="wrapper-md" style="background:white;height: 100%;">
    <div class="clear-fix">
        <div class="form-group pull-right" style="padding:2% 0;">
            <div class="pull-left">
                <label for="search" class="col-form-label" style="margin: 8px;"><strong>Search : </strong></label>
            </div>
            <div class="pull-left">
                <input type="text" ng-model="search" class="form-control" id="search"  placeholder="Search" />
            </div>
        </div>
    </div>
    <div class="table-responsive-md">
        <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm" ng-click="sortBy('sender_id')">Sender ID
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm" ng-click="sortBy('sandbox_id')">Sandbox ID
                        <a><i class="fa float-right" ng-class="{'fa-caret-up':reverse,'fa-caret-down':!reverse}" aria-hidden="true"></i></a>
                    </th>
                    <th class="th-sm">End user phone no
                        <a><i class="fa float-right" aria-hidden="true"></i></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="sanboxConfigs.length != 0" dir-paginate="item in sanboxConfigs|orderBy:sortKey:reverse|filter:search|itemsPerPage:page">
                    <td>{{item.sender_id}}</td>
                    <td>{{item.sandbox_id}}</td>
                    <td>{{item.caller_number}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center" ng-if="sanboxConfigs.length == 0">
        There are no records to show
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <dir-pagination-controls class="col-sm-6" max-size="5" direction-links="true" boundary-links="true" style="float:right;">
        </dir-pagination-controls>
    </div>
</div>