<!-- <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <sidebar></sidebar>
    </div>
</nav> -->
<!-- header -->
<header id="header" class="app-header navbar" role="menu">
    <!-- navbar header -->
    <div class="navbar-header bg-dark">
        <button class="pull-right visible-xs dk" ui-toggle-class="show" target=".navbar-collapse">
            <i class="glyphicon glyphicon-cog"></i>
        </button>
        <button class="pull-right visible-xs" ui-toggle-class="off-screen" target=".app-aside" ui-scroll="app">
            <i class="glyphicon glyphicon-align-justify"></i>
        </button>
        <!-- brand -->
        <a href="#/" class="navbar-brand text-lt">
            <!-- <i class="fa fa-btc"></i> -->
            <img ng-src="{{logoUrl}}" ng-if="collapseVar == false" alt="." ng-init="logoUrl = 'images/karix_logo.png'" />
            <img ng-src="{{minLogoUrl}}" ng-if="collapseVar == true" alt="." ng-init="minLogoUrl = 'images/karixlogo.png'" />
            <!-- <span class="hidden-folded m-l-xs">Angulr</span> class="hide"-->
        </a>
        <!-- / brand -->
    </div>
    <!-- / navbar header -->

    <!-- navbar collapse -->
    <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">
        <!-- buttons -->
        <div class="nav navbar-nav hidden-xs">
            <a href="#" class="btn no-shadow navbar-btn" ui-toggle-class="app-aside-folded" ng-click="collapseVar = !collapseVar" target=".app">
                <i class="fa fa-dedent fa-fw text"></i>
                <i class="fa fa-indent fa-fw text-active"></i>
            </a>
        </div>
        <!-- / buttons -->
        <!-- nabar right -->
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
                    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                        <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                        <!-- <img src="img/a0.jpg" alt="..."> -->
                        <i class="on md b-white bottom"></i>
                    </span>
                    <span class="hidden-sm hidden-md">{{username}}</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight w">
                    <li>
                        <a href>
                            <!-- <span class="badge bg-danger pull-right">30%</span> -->
                            <span>Settings</span>
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.page.profile">Profile</a>
                    </li>
                    <li>
                        <a ui-sref="app.docs">
                            <span class="label bg-info pull-right">new</span> Help
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a ng-click="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- / navbar right -->
    </div>
    <!-- / navbar collapse -->
</header>
<!-- / header -->