.loader {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 2.5px solid transparent;
    border-radius: 50%;
    border-top: 2.5px solid #9900cc;
    width: 70px;
    height: 70px;
    -webkit-animation: rotate 5s cubic-bezier(0.1, 0.7, 0, 0.1) infinite;
    /* Safari */
    animation: rotate 5s cubic-bezier(0.1, 0.7, 0, 0.1) infinite;
}

.loader1 {
    border: 2.5px solid transparent;
    border-radius: 50%;
    border-top: 2.5px solid #ff3399;
    width: 60px;
    height: 60px;
    -webkit-animation: rotate 7s cubic-bezier(0.2, 0.7, 0, 0.1) infinite;
    /* Safari */
    animation: rotate 7s cubic-bezier(0.2, 0.7, 0, 0.1) infinite;
}

.loader2 {
    border: 2.5px solid transparent;
    border-radius: 50%;
    border-top: 2.5px solid #2eb82e;
    width: 50px;
    height: 50px;
    -webkit-animation: rotate 10s cubic-bezier(0.5, 0.7, 0, 0.1) infinite;
    /* Safari */
    animation: rotate 10s cubic-bezier(0.5, 0.7, 0, 0.1) infinite;
}


/* Safari */

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(3600deg);
    }
}