.fa,
img {
    vertical-align: middle
}

.main-menu li>a,
table,
td,
th {
    border-collapse: collapse
}

.main-menu,
.main-menu li>a {
    -webkit-transform: translateZ(0) scale(1, 1)
}

.main-menu li>a,
.powered-by a,
a:focus,
a:hover {
    text-decoration: none
}

.area,
.popup-box .popup-head .popup-head-left {
    float: left
}

.carousel-dots,
.message,
.toolbar,
ul.neo-nav li {
    list-style: none
}

body {
    font-size: 12px;
    font-family: Montserrat, Lato, "Open Sans", Helvetica Neue, sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: #333
}

a {
    color: #00B7FF
}

.rwd-table {
    width: 100%;
    margin: 1em 0;
    min-width: 300px;
    background: #fff;
    color: #8a8a8a;
    border-radius: .4em;
    overflow: hidden
}

@media (min-width:1050px) {
    .rwd-table td:before {
        display: none
    }
    .rwd-table td:first-child,
    .rwd-table th:first-child {
        padding-left: 0
    }
    .rwd-table td:last-child,
    .rwd-table th:last-child {
        padding-right: 0
    }
    .rwd-table td,
    .rwd-table th {
        display: table-cell;
        padding: 1em!important
    }
}

.rwd-table th,
.typesDemo ul[dnd-list] .dndDraggingSource {
    display: none
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-color: #dadada
}

.rwd-table td {
    display: block
}

.rwd-table td:first-child {
    padding-top: .5em
}

.rwd-table td:last-child {
    padding-bottom: .5em
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: 700;
    width: 6.5em;
    display: inline-block
}

.rwd-table td,
.rwd-table th {
    text-align: left;
    margin: .5em 1em
}

.fa,
.main-menu .nav-icon,
.ui-grid-row,
td,
th {
    text-align: center
}

@media (min-width:450px) {
    .rwd-table td:before {
        display: none
    }
    .rwd-table td:first-child,
    .rwd-table th:first-child {
        padding-left: 0
    }
    .rwd-table td:last-child,
    .rwd-table th:last-child {
        padding-right: 0
    }
    .rwd-table td,
    .rwd-table th {
        display: table-cell;
        padding: 1em!important
    }
}

.rwd-table td:before,
.rwd-table th {
    color: #000
}

table .border {
    border: 1px solid gray
}

img {
    width: 100%;
    border-radius: 5px
}

.h1,
.h2,
.h3,
h1,
h2,
h3 {
    margin: 15px 5px 10px
}

.h4,
.h5,
.h6,
h4,
h5,
h6 {
    margin: 10px 5px
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.3;
    color: inherit
}

tbody {
    text-transform: capitalize;
    font-size: 14px
}

td,
th {
    padding: 5px
}

table#t01 tr:nth-child(even) {
    background-color: #eee
}

table#t01 tr:nth-child(odd) {
    background-color: #fff
}

table#t01 th {
    background-color: #000;
    color: #fff
}

.button_style {
    min-height: 61px!important;
    min-width: 116px!important
}

#wrapper {
    width: 94%;
    margin: 0 0 0 7%;
}

.fa-2x {
    font-size: 2em
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    font-size: 20px
}

.main-menu:hover,
nav.main-menu.expanded {
    width: 250px;
    overflow: visible
}

.main-menu:hover,
nav.main-menu.expanded {
    cursor: pointer;
}

.main-menu:hover .cls {
    display: inline-flex;
}

.main-menu:hover #profile {
    width: 30%;
}

.main-menu:hover #uname {
    padding: 4% 4% 0% 4%;
}

.main-menu {
    background: #fbfbfb;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 104px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    z-index: 1000
}

.main-menu>ul {
    margin: 7px 0
}

.main-menu li {
    position: relative;
    display: block;
    padding: 5px 0
}

.main-menu li>a {
    position: relative;
    display: table;
    border-spacing: 0;
    color: #e7d8e2;
    font-family: arial;
    font-size: 14px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear
}

.main-menu .nav-icon,
.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle
}

.dashboard-page nav.dashboard-menu ul li.active a,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.main-menu li:hover>a,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
nav.main-menu li.active>a {
    color: #fff;
    background-color: #723560;
    cursor: pointer
}

.main-menu .nav-icon {
    width: 60px;
    height: 36px;
    font-size: 18px
}

.main-menu .nav-text {
    width: 190px;
    font-size: 14px;
    font-family: sans-serif;
    padding-bottom: 4%;
}

.main-menu .fa-2x {
    padding: 5px 58px 43px 45px
}

.main-menu>ul.logout {
    position: absolute;
    left: 0;
    bottom: 0
}

.no-touch .scrollable.hover {
    overflow-y: hidden
}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}

.md-tab.md-disabled,
.typesDemo ul[dnd-list] li,
[draggable] {
    -moz-user-select: none;
    -webkit-user-select: none
}

nav li,
nav ul {
    outline: 0;
    margin: 0;
    padding: 0
}

.area {
    background: #e2e2e2;
    width: 100%;
    height: 100%
}

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;
    src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff')
}

.label_class {
    color: #000!important
}

.shadow_class {
    box-shadow: -4px 4px 27px #c4c6ca;
    margin: 2%
}

.headtitle {
    border-bottom: 1px solid #ccc7c7;
    margin-bottom: 2%
}

md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input,
md-input-container.md-default-theme.md-input-resized:not(.md-input-invalid) .md-input,
md-input-container.md-input-focused:not(.md-input-invalid) .md-input,
md-input-container.md-input-resized:not(.md-input-invalid) .md-input,
md-radio-button.md-checked .md-off,
md-radio-button.md-default-theme.md-checked .md-off {
    border-color: #803b6c
}

.show-modal {
    display: block!important;
    overflow-y: auto!important;
    overflow-x: hidden;
    z-index: 1050
}

.close {
    color: inherit;
    position: absolute;
    right: 3%!important;
    top: 2%!important
}

.content,
md-content,
md-tabs-canvas {
    position: relative
}

.md-tab.md-active {
    cursor: default;
    margin-top: 0;
    height: 120px;
    top: -4px;
    background-color: #fff
}

md-tabs .md-tab.md-active {
    color: #803b6c
}

md-tabs .md-tab,
md-tabs .md-tab[disabled] {
    color: #fff
}

md-tabs-canvas {
    overflow: hidden;
    display: block;
    height: 64px;
    background-color: #fff
}

md-pagination-wrapper {
    height: 65px
}

.md-tab {
    margin-top: 1%;
    background: #803b6c
}

md-content {
    overflow: auto;
    background-color: #d0cccc
}

.md-padding {
    padding: 0!important
}

.md-tab.md-disabled {
    pointer-events: none;
    touch-action: pan-y;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    color: #fff;
    opacity: 1.5!important
}

.row {
    margin: 1px 0 1px 1px
}

.sidebar {
    background: #803b6c;
    color: #e7d8e2
}

.md-raised.md-primary.md-button.md-ink-ripple.md-default-theme,
.nav.nav-second-level a:hover {
    background-color: #723560
}

.nav.nav-second-level>li {
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    display: inline-block;
    width: 49%;
    padding: 0
}

.nav.nav-second-level>li a {
    display: block
}

md-checkbox.md-checked .md-icon,
md-checkbox.md-default-theme.md-checked .md-icon,
md-radio-button.md-default-theme.md-primary:not([disabled]) .md-on,
md-radio-button.md-default-theme:not([disabled]) .md-primary .md-on,
md-radio-button.md-primary:not([disabled]) .md-on,
md-radio-button:not([disabled]) .md-primary .md-on,
md-radio-group.md-default-theme.md-primary:not([disabled]) .md-on,
md-radio-group.md-default-theme:not([disabled]) .md-primary .md-on,
md-radio-group.md-primary:not([disabled]) .md-on,
md-radio-group:not([disabled]) .md-primary .md-on,
md-toolbar.md-default-theme:not(.md-menu-toolbar),
md-toolbar:not(.md-menu-toolbar) {
    background-color: #803b6c
}

.head_Span {
    vertical-align: top
}

.md-radio-button {
    font-size: 14px
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon.md-default-theme.md-input-invalid {
    margin: 0
}

.layout-xs-column.layout-column,
.layout-xs-column.layout-row {
    margin: 18px 0
}

.md-block.flex-gt-sm.md-default-theme {
    margin: 10px 0 0
}

.md-primary.md-default-theme {
    font-size: 12px
}

.ui-grid-header-cell-wrapper {
    background: #803b6c;
    color: #e7d8e2;
    text-transform: uppercase;
    font-size: 12px
}

.ui-grid-row {
    font-size: 11px;
    height: 31px!important
}

input[type=text].ui-grid-filter-input {
    padding: 3px!important;
    margin: 4px!important;
    border-radius: 3px!important
}

.date_class {
    margin: 0!important
}

.angular-ui-tree-handle {
    border: .5px solid rgba(0, 0, 0, .37)!important;
    cursor: move;
    text-decoration: none;
    font-weight: 700;
    min-height: 27px!important;
    line-height: 22px!important;
    margin: 2%!important;
    padding: 1%!important
}

.triangle-isosceles,
.triangle-right {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}

.triangle-isosceles:after,
.triangle-right:after {
    content: "";
    border-style: solid;
    display: block;
    width: 0
}

#diagramContainer {
    padding: 20px;
    height: 1000px;
    background: #fff
}

blockquote {
    margin: 1em 0
}

blockquote p {
    margin: 0;
    font-size: 2em
}

.follow {
    clear: both;
    margin-top: 2em;
    font-size: 1.125em
}

.follow span {
    font-weight: 700
}

.content {
    z-index: 1
}

.triangle-isosceles {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #000;
    background: #f3961c;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f9d835), to(#f3961c));
    background: -moz-linear-gradient(#f9d835, #f3961c);
    background: -o-linear-gradient(#f9d835, #f3961c);
    background: linear-gradient(#f9d835, #f3961c);
    border-radius: 10px
}

.triangle-isosceles.top {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f3961c), to(#f9d835));
    background: -moz-linear-gradient(#f3961c, #f9d835);
    background: -o-linear-gradient(#f3961c, #f9d835);
    background: linear-gradient(#f3961c, #f9d835)
}

.triangle-isosceles.left {
    margin-left: 50px;
    background: #f3961c
}

.triangle-isosceles.right {
    margin-right: 50px;
    background: #f3961c
}

.triangle-isosceles:after {
    position: absolute;
    bottom: -15px;
    left: 50px;
    border-width: 15px 15px 0;
    border-color: #f3961c transparent
}

.triangle-isosceles.top:after {
    top: -15px;
    right: 50px;
    bottom: auto;
    left: auto;
    border-width: 0 15px 15px;
    border-color: #f3961c transparent
}

.triangle-isosceles.left:after {
    top: 16px;
    left: -50px;
    bottom: auto;
    border-width: 10px 50px 10px 0;
    border-color: transparent #f3961c
}

.triangle-isosceles.right:after {
    top: 16px;
    right: -50px;
    bottom: auto;
    left: auto;
    border-width: 10px 0 10px 50px;
    border-color: transparent #f3961c
}

.triangle-right {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #fff;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
    border-radius: 10px
}

.triangle-right.top {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
    background: -moz-linear-gradient(#075698, #2e88c4);
    background: -o-linear-gradient(#075698, #2e88c4);
    background: linear-gradient(#075698, #2e88c4)
}

.triangle-right.left {
    margin-left: 40px;
    background: #075698
}

.triangle-right.right {
    margin-right: 40px;
    background: #075698
}

.triangle-right:after {
    position: absolute;
    bottom: -20px;
    left: 50px;
    border-width: 20px 0 0 20px;
    border-color: #075698 transparent
}

.triangle-right.left:after,
.triangle-right.right:after,
.triangle-right.top:after {
    bottom: auto;
    border-color: transparent #075698
}

.triangle-right.top:after {
    top: -20px;
    right: 50px;
    left: auto;
    border-width: 20px 20px 0 0
}

.triangle-right.left:after {
    top: 16px;
    left: -40px;
    border-width: 15px 40px 0 0
}

.triangle-right.right:after {
    top: 16px;
    right: -40px;
    left: auto;
    border-width: 15px 0 0 40px
}

.triangle-obtuse {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    color: #fff;
    background: #c81e2b;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#f04349), to(#c81e2b));
    background: -moz-linear-gradient(#f04349, #c81e2b);
    background: -o-linear-gradient(#f04349, #c81e2b);
    background: linear-gradient(#f04349, #c81e2b);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.triangle-obtuse:after,
.triangle-obtuse:before {
    content: "";
    position: absolute;
    bottom: -20px;
    display: block;
    width: 0
}

.triangle-obtuse.top {
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#c81e2b), to(#f04349));
    background: -moz-linear-gradient(#c81e2b, #f04349);
    background: -o-linear-gradient(#c81e2b, #f04349);
    background: linear-gradient(#c81e2b, #f04349)
}

.triangle-obtuse.left {
    margin-left: 50px;
    background: #c81e2b
}

.triangle-obtuse.right {
    margin-right: 50px;
    background: #c81e2b
}

.triangle-obtuse:before {
    left: 60px;
    border: 0 solid;
    border-right-width: 30px;
    border-bottom-width: 20px;
    border-color: transparent #c81e2b
}

.triangle-obtuse:after {
    left: 80px;
    border: 0 solid;
    border-right-width: 10px;
    border-bottom-width: 20px;
    border-color: transparent #fff
}

.triangle-obtuse.top:before {
    top: -20px;
    bottom: auto;
    left: auto;
    right: 60px;
    border: 0;
    border-left-width: 30px;
    border-top-width: 20px;
    border-color: transparent #c81e2b
}

.triangle-obtuse.top:after {
    top: -20px;
    bottom: auto;
    left: auto;
    right: 80px;
    border-width: 20px 0 0 10px;
    border-color: transparent #fff
}

.triangle-obtuse.left:before {
    top: 15px;
    bottom: auto;
    left: -50px;
    border: 0;
    border-bottom-width: 30px;
    border-left-width: 50px;
    border-color: #c81e2b transparent
}

.triangle-obtuse.left:after {
    top: 35px;
    bottom: auto;
    left: -50px;
    border: 0;
    border-bottom-width: 10px;
    border-left-width: 50px;
    border-color: #fff transparent
}

.triangle-obtuse.right:before {
    top: 15px;
    bottom: auto;
    left: auto;
    right: -50px;
    border: 0;
    border-bottom-width: 30px;
    border-right-width: 50px;
    border-color: #c81e2b transparent
}

.triangle-obtuse.right:after {
    top: 35px;
    bottom: auto;
    right: -50px;
    left: auto;
    border: 0;
    border-bottom-width: 10px;
    border-right-width: 50px;
    border-color: #fff transparent
}

.triangle-border {
    position: relative;
    padding: 15px;
    margin: 1em 0 3em;
    border: 5px solid #5a8f00;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.triangle-border:after,
.triangle-border:before {
    position: absolute;
    border-style: solid;
    width: 0;
    content: "";
    display: block
}

.triangle-border.left {
    margin-left: 30px
}

.triangle-border.right {
    margin-right: 30px
}

.triangle-border:before {
    bottom: -20px;
    left: 40px;
    border-width: 20px 20px 0;
    border-color: #5a8f00 transparent
}

.triangle-border:after {
    bottom: -13px;
    left: 47px;
    border-width: 13px 13px 0;
    border-color: #fff transparent
}

.triangle-border.top:before {
    top: -20px;
    bottom: auto;
    left: auto;
    right: 40px;
    border-width: 0 20px 20px
}

.triangle-border.top:after {
    top: -13px;
    bottom: auto;
    left: auto;
    right: 47px;
    border-width: 0 13px 13px
}

.triangle-border.left:before {
    top: 10px;
    bottom: auto;
    left: -30px;
    border-width: 15px 30px 15px 0;
    border-color: transparent #5a8f00
}

.triangle-border.left:after {
    top: 16px;
    bottom: auto;
    left: -21px;
    border-width: 9px 21px 9px 0;
    border-color: transparent #fff
}

.triangle-border.right:before {
    top: 10px;
    bottom: auto;
    left: auto;
    right: -30px;
    border-width: 15px 0 15px 30px;
    border-color: transparent #5a8f00
}

.triangle-border.right:after {
    top: 16px;
    bottom: auto;
    left: auto;
    right: -21px;
    border-width: 9px 0 9px 21px;
    border-color: transparent #fff
}

.example-commentheading {
    position: relative;
    padding: 0;
    color: #b513af
}

.example-commentheading:before {
    content: "";
    position: absolute;
    top: 9px;
    left: -25px;
    width: 15px;
    height: 10px;
    background: #b513af;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.example-commentheading:after {
    content: "";
    position: absolute;
    top: 15px;
    left: -19px;
    border: 4px solid transparent;
    border-left-color: #b513af;
    display: block;
    width: 0
}

.example-obtuse:after,
.example-right:after {
    content: "";
    border-style: solid
}

.example-right {
    position: relative;
    padding: 15px 30px;
    margin: 0;
    color: #fff;
    background: #5a8f00;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background: -moz-linear-gradient(#b8db29, #5a8f00);
    background: -o-linear-gradient(#b8db29, #5a8f00);
    background: linear-gradient(#b8db29, #5a8f00);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.example-right+p {
    margin: 15px 0 2em 85px;
    font-style: italic
}

.example-right:after {
    position: absolute;
    bottom: -50px;
    left: 50px;
    border-width: 0 20px 50px 0;
    border-color: transparent #5a8f00;
    display: block;
    width: 0
}

.icons_style {
    padding-top: 7.5%;
    width: 11%
}

.disp {
    position: relative;
    display: inline-flex
}

.plus_style {
    position: absolute;
    bottom: 0;
    right: 0
}

.example-obtuse {
    background: #d0d6d4;
    border-radius: 1px 33px 28px 30px;
    display: inline-grid;
    min-height: 58px;
    min-width: 23%;
    position: relative;
    padding: 9px 30px;
    margin: 0;
    color: #000
}

.example-obtuse+p {
    margin: 10px 150px 2em 0;
    text-align: right;
    font-style: italic
}

.example-obtuse:after {
    position: absolute;
    bottom: -30px;
    right: 110px;
    border-width: 0 0 30px 20px;
    border-color: transparent #fff;
    display: block;
    width: 0
}

.example-twitter {
    position: relative;
    padding: 15px;
    margin: 100px 0 .5em;
    color: #333;
    background: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.example-twitter p {
    font-size: 28px;
    line-height: 1.25em
}

.example-twitter:before {
    content: url(twitter-logo.gif);
    position: absolute;
    top: -60px;
    left: 0;
    width: 155px;
    height: 36px;
    display: block
}

.example-twitter:after {
    content: "";
    position: absolute;
    top: -30px;
    left: 50px;
    border: 15px solid transparent;
    border-bottom-color: #eee;
    display: block;
    width: 0
}

.example-twitter+p {
    padding-left: 15px;
    font: 14px Arial, sans-serif
}

.example-number {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px 0 200px;
    text-align: center;
    font: 140px/200px Arial, sans-serif;
    color: #fff;
    background: #C91F2C
}

.example-number:after,
.example-number:before,
.pinched:before {
    content: "";
    position: absolute
}

.example-number:before {
    bottom: -140px;
    right: 0;
    border-width: 0 0 140px 140px;
    border-style: solid;
    border-color: transparent #C91F2C
}

.example-number:after {
    bottom: -140px;
    right: 85px;
    border-width: 0 0 140px 55px;
    border-style: solid;
    border-color: transparent #fff
}

.pinched {
    position: relative;
    padding: 15px;
    margin: 50px 0 3em;
    text-align: center;
    color: #fff;
    background: #333;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.oval-speech,
.oval-thought {
    padding: 50px 40px;
    color: #fff;
    text-align: center
}

.pinched:before {
    top: -20px;
    left: 50%;
    width: 100px;
    height: 20px;
    margin: 0 0 0 -50px;
    background: #333
}

.pinched:after,
.pinched>:first-child:before {
    content: "";
    position: absolute;
    top: -20px;
    width: 50%;
    height: 20px;
    background: #fff
}

.pinched:after {
    left: 0;
    -webkit-border-bottom-right-radius: 15px;
    -moz-border-radius-bottomright: 15px;
    border-bottom-right-radius: 15px
}

.pinched>:first-child:before {
    right: 0;
    -webkit-border-bottom-left-radius: 15px;
    -moz-border-radius-bottomleft: 15px;
    border-bottom-left-radius: 15px
}

.oval-speech {
    position: relative;
    width: 270px;
    margin: 1em auto 50px;
    background: #5a8f00;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background: -moz-linear-gradient(#b8db29, #5a8f00);
    background: -o-linear-gradient(#b8db29, #5a8f00);
    background: linear-gradient(#b8db29, #5a8f00);
    -webkit-border-top-left-radius: 220px 120px;
    -webkit-border-top-right-radius: 220px 120px;
    -webkit-border-bottom-right-radius: 220px 120px;
    -webkit-border-bottom-left-radius: 220px 120px;
    -moz-border-radius: 220px/120px;
    border-radius: 220px/120px
}

.oval-speech:after,
.oval-speech:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -30px;
    right: 50%;
    height: 30px
}

.oval-speech p {
    font-size: 1.25em
}

.oval-speech:before {
    border-right: 60px solid #5a8f00;
    background: #5a8f00;
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px;
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px)
}

.oval-speech:after {
    width: 60px;
    background: #fff;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    -webkit-transform: translate(-30px, -2px);
    -moz-transform: translate(-30px, -2px);
    -ms-transform: translate(-30px, -2px);
    -o-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px)
}

.oval-thought {
    position: relative;
    width: 270px;
    margin: 1em auto 80px;
    background: #075698;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#2e88c4), to(#075698));
    background: -moz-linear-gradient(#2e88c4, #075698);
    background: -o-linear-gradient(#2e88c4, #075698);
    background: linear-gradient(#2e88c4, #075698);
    -webkit-border-top-left-radius: 220px 120px;
    -webkit-border-top-right-radius: 220px 120px;
    -webkit-border-bottom-right-radius: 220px 120px;
    -webkit-border-bottom-left-radius: 220px 120px;
    -moz-border-radius: 220px/120px;
    border-radius: 220px/120px
}

.oval-thought:after,
.oval-thought:before {
    content: "";
    position: absolute;
    background: #075698
}

.oval-thought p {
    font-size: 1.25em
}

.oval-thought:before {
    bottom: -20px;
    left: 50px;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px
}

.oval-thought:after {
    bottom: -30px;
    left: 30px;
    width: 15px;
    height: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.oval-quotes {
    position: relative;
    width: 400px;
    height: 350px;
    margin: 2em auto 10px;
    color: #000;
    background: #ffed26;
    -webkit-border-top-left-radius: 400px 350px;
    -webkit-border-top-right-radius: 400px 350px;
    -webkit-border-bottom-right-radius: 400px 350px;
    -webkit-border-bottom-left-radius: 400px 350px;
    -moz-border-radius: 400px/350px;
    border-radius: 400px/350px
}

.oval-quotes:after,
.oval-quotes:before {
    position: absolute;
    z-index: 1;
    color: #ffed26
}

.oval-quotes:before {
    content: "\201C";
    top: 20px;
    left: 20px;
    font: 80px/1 Georgia, serif
}

.oval-quotes:after {
    content: "\201D";
    bottom: 0;
    right: 20px;
    font: 80px/.25 Georgia, serif
}

.oval-quotes p:after,
.oval-quotes p:before {
    content: "";
    position: absolute;
    bottom: -30px
}

.oval-quotes p {
    width: 250px;
    height: 250px;
    padding: 50px 0 0;
    margin: 0 auto;
    text-align: center;
    font-size: 35px
}

.oval-quotes p:before {
    z-index: -1;
    right: 55%;
    width: 180px;
    height: 60px;
    background: #fff;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px;
    -webkit-transform: translate(-30px, -2px);
    -moz-transform: translate(-30px, -2px);
    -ms-transform: translate(-30px, -2px);
    -o-transform: translate(-30px, -2px);
    transform: translate(-30px, -2px)
}

.oval-quotes p:after {
    z-index: -2;
    right: 25%;
    height: 80px;
    border-right: 200px solid #ffed26;
    background: #ffed26;
    -webkit-border-bottom-right-radius: 200px 100px;
    -moz-border-radius-bottomright: 200px 100px;
    border-bottom-right-radius: 200px 100px;
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
    display: block;
    width: 0
}

.oval-quotes+p {
    position: relative;
    width: 150px;
    margin: 0 0 2em;
    font-size: 18px;
    font-weight: 700
}

.rectangle-speech-border {
    position: relative;
    padding: 50px 15px;
    margin: 1em 0 3em;
    border: 10px solid #5a8f00;
    text-align: center;
    color: #333;
    background: #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px
}

.oval-speech-border,
.oval-thought-border {
    padding: 70px 30px;
    color: #333;
    text-align: center
}

.rectangle-speech-border:after,
.rectangle-speech-border:before {
    z-index: 10;
    left: 50px;
    height: 30px;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: #5a8f00;
    background: 0 0;
    display: block;
    bottom: -40px;
    content: "";
    position: absolute
}

.rectangle-speech-border:before {
    width: 50px;
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px
}

.rectangle-speech-border:after {
    width: 20px;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px
}

.rectangle-speech-border>:first-child:before {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 45px;
    width: 10px;
    height: 10px;
    background: #5a8f00;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.rectangle-speech-border>:first-child:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 76px;
    width: 24px;
    height: 15px;
    background: #fff
}

.oval-speech-border {
    position: relative;
    margin: 1em auto 60px;
    border: 10px solid #f3961c;
    background: #fff;
    -webkit-border-top-left-radius: 240px 140px;
    -webkit-border-top-right-radius: 240px 140px;
    -webkit-border-bottom-right-radius: 240px 140px;
    -webkit-border-bottom-left-radius: 240px 140px;
    -moz-border-radius: 240px/140px;
    border-radius: 240px/140px
}

.oval-speech-border:after,
.oval-speech-border:before {
    z-index: 2;
    border-style: solid;
    border-width: 0 10px 10px 0;
    border-color: #f3961c;
    background: 0 0;
    display: block;
    bottom: -40px;
    content: "";
    position: absolute;
    right: 50%
}

.oval-speech-border:before {
    width: 50px;
    height: 30px;
    margin-right: -10px;
    -webkit-border-bottom-right-radius: 80px 50px;
    -moz-border-radius-bottomright: 80px 50px;
    border-bottom-right-radius: 80px 50px
}

.oval-speech-border:after {
    width: 20px;
    height: 31px;
    margin-right: 20px;
    -webkit-border-bottom-right-radius: 40px 50px;
    -moz-border-radius-bottomright: 40px 50px;
    border-bottom-right-radius: 40px 50px
}

.oval-speech-border>:first-child:before {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -40px;
    right: 50%;
    width: 10px;
    height: 10px;
    margin-right: 45px;
    background: #f3961c;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.oval-speech-border>:first-child:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -10px;
    right: 50%;
    width: 30px;
    height: 15px;
    background: #fff
}

.oval-thought-border {
    position: relative;
    margin: 1em auto 80px;
    border: 10px solid #c81e2b;
    background: #fff;
    -webkit-border-top-left-radius: 240px 140px;
    -webkit-border-top-right-radius: 240px 140px;
    -webkit-border-bottom-right-radius: 240px 140px;
    -webkit-border-bottom-left-radius: 240px 140px;
    -moz-border-radius: 240px/140px;
    border-radius: 240px/140px
}

.oval-thought-border:after,
.oval-thought-border:before {
    content: "";
    position: absolute;
    background: #fff;
    display: block;
    z-index: 10
}

.oval-thought-border:before {
    bottom: -40px;
    right: 100px;
    width: 50px;
    height: 50px;
    border: 10px solid #c81e2b;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px
}

.oval-thought-border:after {
    bottom: -60px;
    right: 50px;
    width: 25px;
    height: 25px;
    border: 10px solid #c81e2b;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px
}

.speech-bubble {
    position: relative;
    background: silver;
    border-radius: .4em
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-right-color: silver;
    border-left: 0;
    border-bottom: 0;
    margin-top: -13px;
    margin-left: -26px
}

#talkbubble:after,
#talkbubble:before {
    content: "";
    position: absolute;
    right: 100%;
    width: 0;
    height: 0
}

#talkbubble {
    min-width: 120px;
    max-width: 967px;
    height: 60px;
    background: #f2f2f2;
    position: relative;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #c1c1c1;
    left: 34px;
    padding-left: 12px
}

#talkbubble:before {
    top: 21px;
    text-align: center;
    border-top: 9px solid transparent;
    border-right: 19px solid #c1c1c1;
    border-bottom: 9px solid transparent
}

#talkbubble:after {
    top: 22px;
    border-top: 8px solid transparent;
    border-right: 17px solid #f2f2f2;
    border-bottom: 8px solid transparent
}

.talkbubble-text {
    text-align: left;
    margin-top: 16px;
    font-family: Tahoma, Arial, Sans-Serif;
    font-size: 20px;
    font-weight: 700
}

.bot_title,
.botui-message-content .loading,
.carousel-dots,
.carousel-dots li button:before,
.chatImage,
.choose,
.cls,
.cond_p,
.default_branch,
.sett_icon,
.weblink,
li.media.list-group-item.choose {
    text-align: center
}

.typesDemo ul[dnd-list],
.typesDemo ul[dnd-list]>li {
    position: relative
}

.typesDemo ul[dnd-list] {
    min-height: 42px;
    padding-left: 0
}

.typesDemo ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    padding: 10px 15px;
    min-height: 42px
}

.typesDemo ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    margin-bottom: -1px;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.typesDemo ul[dnd-list] li dnd-nodrag {
    display: block;
    padding: 10px 15px
}

.typesDemo ul[dnd-list] li.background-man {
    background-color: #CAE0FC
}

.typesDemo ul[dnd-list] li.background-woman {
    background-color: #FFE2F5
}

.typesDemo ul[dnd-list] input.background-man {
    background-color: #D8E9FF;
    color: #2F4D99
}

.typesDemo ul[dnd-list] input.background-woman {
    background-color: #FFF0FA;
    color: #D84FA7
}

.inputContainter,
.messages,
.snackBar.star-background {
    background-color: #fff
}

.typesDemo .handle {
    cursor: move;
    position: absolute;
    top: 14px
}

.typesDemo .name {
    margin-left: 20px
}

md-backdrop {
    height: 100%!important
}

.flexOption {
    display: flex
}

label {
    font-weight: 100!important
}

.vis {
    display: none
}

.bold {
    font-weight: 700!important
}

.center {
    margin: auto;
    width: 60%;
    border: 3px solid #73AD21;
    padding: 10px
}

.icon-lg {
    margin-top: -30px
}

.demo {
    margin-top: 30px
}

.buttonMenu {
    display: inline-block;
    width: 100%;
    margin: 30px auto 0;
    border: 0
}

.animate-show-hide.ng-hide {
    opacity: 0
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear .5s
}

.check-element {
    border: 1px solid #000;
    opacity: 1;
    padding: 10px
}

.chatArea,
.inputMessage,
.snackBar {
    border-left: 1px solid #d3d3d3
}

.suggestionsBox {
    width: 700px;
    height: 150px
}

.power {
    position: fixed;
    z-index: 10;
    top: 0;
    margin-top: 0;
    font-family: roboto;
    color: #000;
    left: 0
}

.powered-by a {
    color: inherit
}

.snackBar {
    border-right: 1px solid #d3d3d3
}

.rating-container .rating-stars {
    color: #0084ff
}

.inputMessage[disabled] {
    background-color: #ebebe4
}

.inputMessage {
    margin: 0;
    border-radius: 0;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    border-right: 0;
    width: 100%
}

#send-button {
    padding: 2px;
    border: 0;
    border-radius: 0 5px 5px 0;
    background-color: #555
}

#send_button_img {
    background-color: #fff;
    width: 85%
}

#suggestion-menu-container>* {
    background-color: #0084ff;
    border-top-left-radius: 1.3em;
    border-top-right-radius: 1.3em
}

.chat-sidebar {
    height: 100%;
    left: 0;
    top: 0;
    border-bottom: 1px solid rgba(29, 49, 91, .3);
    border-right: 1px solid rgba(29, 49, 91, .3);
    overflow-x: hidden
}

.ui-widget-header {
    background: #09D261;
    border: 1px solid #027b1b
}

.ui-new-message {
    background: #d20942;
    border: 1px solid #027b1b
}

.my-chat-bubble,
.user-chat-bubble {
    border-bottom-left-radius: 1.3em;
    border-bottom-right-radius: 1.3em
}

.ui-chatbox {
    font-family: helvetica
}

.ui-chatbox-log {
    background-color: #DFD7D4
}

.ui-state-focus {
    color: #fff
}

.ui-widget-header .ui-icon {
    background-image: url(images/ui-icons_ffffff_256x240.png)
}

.user-chat-bubble {
    color: #000;
    background-color: #f1f1f1;
    border-top-right-radius: 1.3em
}

.my-chat-bubble {
    color: #fff;
    background-color: #0084ff;
    border-top-left-radius: 1.3em
}

.chat-bubble img {
    border-radius: .65em
}

.choose.selected {
    color: #fff;
    background-color: #00468A
}

.popup-box .popup-head .popup-head-right a,
.sidebar-name a {
    color: inherit;
    text-decoration: none
}

.chat_window_open {
    background-color: #e9eaeb;
    border-bottom: 1px solid #e9eaeb
}

.sidebar-name div,
.sidebar-name span {
    padding-left: 0;
    font-size: smaller
}

.sidebar-name a {
    display: block;
    height: 100%
}

.message,
.message-bubbles {
    display: inline-block
}

.sidebar-name:hover {
    background-color: #ECECEC
}

.sidebar-name-1:hover {
    background-color: #f4f4f5;
    border-bottom: 1px solid #f4f4f5
}

.chat_window_open:hover {
    background-color: #dee0e1;
    border-bottom: 1px solid #dee0e1
}

.popup-box .popup-head .popup-head-right {
    float: right;
    opacity: .5
}

.popup-box .popup-messages {
    height: 100%;
    overflow-y: scroll
}

#chatBox,
.cb {
    overflow: auto
}

.suggestion-info {
    color: #fff;
    font-size: 12pt
}

.messageBody:focus {
    background-color: #7fffd4;
    outline: 0
}

.pull-left {
    float: left
}

.me,
.you {
    float: right
}

.message {
    font-size: 14.4pt;
    padding-left: 0;
    padding-right: 0;
    width: 75%
}

.messageBody::selection {
    background: #a8d1ff
}

@media (min-width:1024px) {
    .chat-bubble,
    .choose {
        box-shadow: 0 .4px .2px rgba(0, 0, 0, .13)
    }
    .media-object {
        width: 51.2px
    }
    .powered-by {
        border-bottom-right-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
        height: 20px;
        width: 130px;
        background-color: #8A8A8A;
        color: #FFF
    }
    .done-button-ref,
    .pass-button-ref {
        height: 32px;
        width: 32px;
        display: inline-block;
        vertical-align: middle
    }
    #send-button img {
        background: url(../../img/send_button_fb.svg);
        background-size: cover
    }
    #send-button.done-button img,
    .done-button-ref {
        background: url(../../img/done_button_fb.png);
        background-size: cover
    }
    #send-button.pass-button img,
    .pass-button-ref {
        background: url(../../img/pass_button_fb.png);
        background-size: cover
    }
    .messageBody {
        line-height: 1.2;
        font-size: 11.2pt;
        font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif
    }
    .padding-no-margin {
        margin: 3.2px;
        padding: 6px 12px
    }
    .choose {
        color: #fff;
        background-color: #0084ff;
        cursor: pointer;
        text-align: center;
        border-radius: 5.6px;
        box-shadow: 1px 1px 4px gray;
        margin-right: 4%;
        margin-top: 2%
    }
    li.media.list-group-item.choose {
        padding: 6px 12px;
        margin-top: 6px;
        text-align: center;
        border-radius: 1.3em
    }
    .optionButton {
        margin-top: 20px;
        margin-bottom: 20px
    }
    .sidebar-name-1 {
        cursor: pointer;
        margin: 0;
        border-bottom: 1px solid #ddd;
        padding-top: 3.2px
    }
    .chat-timestamp {
        display: none;
        padding-right: 1.6px;
        color: gray;
        margin-top: 9.6px;
        margin-left: 9.6px;
        font-size: 9.6pt
    }
    .status-icon-glyphicon,
    .status-icon-img {
        margin-top: 12.8px;
        height: 12px;
        margin-left: 3.2px
    }
    .sidebar-name {
        padding-left: 1.6px;
        padding-right: 1.6px;
        padding-top: 1.6px;
        font-size: 4.8px;
        direction: ltr;
        border-bottom: 1px solid #d8d8d8
    }
    span.badge {
        background-color: #09D261;
        margin-left: 1.6px
    }
    .sidebar-name img {
        width: 12.8px;
        height: 12.8px;
        vertical-align: middle
    }
    .popup-box {
        display: none;
        position: fixed;
        bottom: 0;
        right: 88px;
        height: 114px;
        background-color: #edeff4;
        width: 120px;
        border: .4px solid rgba(29, 49, 91, .3)
    }
    .popup-box .popup-head {
        background-color: #6d84b4;
        padding: 2px;
        color: #fff;
        font-weight: 700;
        font-size: 5.6px;
        clear: both
    }
    .backimg {
        background-size: contain
    }
}

@media (max-width:1024px) {
    .chat-bubble,
    .choose {
        box-shadow: 0 1px .5px rgba(0, 0, 0, .13)
    }
    .media-object {
        width: 128px
    }
    .powered-by {
        border-bottom-right-radius: 1.3em;
        border-bottom-left-radius: 1.3em;
        height: 50px;
        width: 325px;
        background-color: #8A8A8A;
        color: #FFF
    }
    .done-button-ref,
    .pass-button-ref {
        height: 80px;
        width: 80px;
        display: inline-block;
        vertical-align: middle
    }
    #send-button img {
        background: url(../../img/send_button_fb.svg);
        background-size: cover
    }
    #send-button.done-button img,
    .done-button-ref {
        background: url(../../img/done_button_fb.png);
        background-size: cover
    }
    #send-button.pass-button img,
    .pass-button-ref {
        background: url(../../img/pass_button_fb.png);
        background-size: cover
    }
    .messageBody {
        line-height: 1.2;
        font-size: 34pt;
        font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif
    }
    .padding-no-margin {
        margin: 8px;
        padding: 15px 30px
    }
    .choose {
        color: #fff;
        background-color: #0084ff;
        cursor: pointer;
        border-radius: 14px
    }
    li.media.list-group-item.choose {
        padding: 15px 30px;
        border-radius: 1.3em
    }
    .sidebar-name-1 {
        cursor: pointer;
        margin: 0;
        border-bottom: 1px solid #ddd;
        padding-top: 8px
    }
    .chat-timestamp {
        display: none;
        padding-right: 4px;
        color: gray;
        margin-top: 24px;
        margin-left: 24px;
        font-size: 24pt
    }
    .status-icon-glyphicon,
    .status-icon-img {
        margin-top: 32px;
        height: 30px;
        margin-left: 8px
    }
    .sidebar-name {
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        font-size: 12px;
        direction: ltr;
        border-bottom: 1px solid #d8d8d8
    }
    span.badge {
        background-color: #09D261;
        margin-left: 4px
    }
    .sidebar-name img {
        width: 32px;
        height: 32px;
        vertical-align: middle
    }
    .popup-box {
        display: none;
        position: fixed;
        bottom: 0;
        right: 220px;
        height: 285px;
        background-color: #edeff4;
        width: 300px;
        border: 1px solid rgba(29, 49, 91, .3)
    }
    .popup-box .popup-head {
        background-color: #6d84b4;
        padding: 5px;
        color: #fff;
        font-weight: 700;
        font-size: 14px;
        clear: both
    }
    .backimg {
        background-size: cover
    }
}

@media only screen and (max-width:540px) {
    .chat-popup,
    .chat-sidebar {
        display: none!important
    }
    .main_col {
        height: 100vh!important
    }
}

.choose {
    color: #fff;
    background-color: #0084ff;
    cursor: pointer;
    border-radius: 5.6px;
    box-shadow: 0 .4px .2px rgba(0, 0, 0, .13);
    box-shadow: 1px 1px 4px gray;
    margin-right: 4%;
    margin-top: 2%
}

li.media.list-group-item.choose {
    padding: 6px 12px;
    margin-top: 6px;
    border-radius: 1.3em
}

hr {
    margin-top: 0!important;
    margin-bottom: 11px!important
}

path {
    stroke-width: 1px!important
}

.btn_class {
    margin: 15%;
    width: 68%!important;
    color: #fff!important;
    background-color: #803b6c!important;
    border-color: #803b6c!important
}

body {
    background: #d0cccc!important
}

.span_margin {
    margin-top: 2%
}

.statename {
    border: none;
    height: 100%;
    background: 0 0
}

.statename::-webkit-input-placeholder {
    color: #fff;
    text-transform: uppercase
}

.statename:-moz-placeholder {
    color: #fff;
    opacity: 1;
    text-transform: uppercase
}

.statename::-moz-placeholder {
    color: #fff;
    opacity: 1;
    text-transform: uppercase
}

.statename:-ms-input-placeholder {
    color: #fff;
    text-transform: uppercase
}

.endpoint {
    background: #000
}

.cls {
    color: #fff;
    font-size: 21px;
    text-transform: capitalize;
    margin: 14%
}

.cls1 {
    margin: 1%
}

md-toast .md-toast-content span {
    font-size: 20px!important
}

.cb {
    height: 74vh
}

.inf {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    border: 1px solid #e2e2e2;
    border-radius: 6px
}

.bot_title {
    font-size: 28px;
    margin: 3.5% 3.5% 3.5% -9%;
    text-transform: uppercase
}

.text-mess {
    color: #2623dc;
    background-color: #efeff1;
    box-shadow: 1px 14px 39px rgba(17, 54, 84, .03);
    font-size: 23px;
    border-radius: 48px;
    padding: 1%;
    margin: 1%;
    width: fit-content;
    border: 1px solid
}

.botui-message-content .loading {
    background-color: rgba(206, 206, 206, .5);
    line-height: 1.3
}

.bubble,
.bubble::before {
    background-color: #F2F2F2
}

.dot:nth-last-child(3) {
    animation: loading .6s .1s linear infinite
}

.dot:nth-last-child(2) {
    margin-left: .3rem;
    animation: loading .6s .2s linear infinite
}

.dot:nth-last-child(1) {
    margin-left: .3rem;
    animation: loading .6s .3s linear infinite
}

.bubble {
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top
}

.bubble::before {
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform: rotate(29deg) skew(-35deg);
    -moz-transform: rotate(29deg) skew(-35deg);
    -ms-transform: rotate(29deg) skew(-35deg);
    -o-transform: rotate(29deg) skew(-35deg);
    -webkit-transform: rotate(29deg) skew(-35deg);
    width: 20px
}

.chat-spe-bubble,
.outgoing-speech {
    position: relative;
    width: fit-content;
    font-size: 14px;
    padding: 1%
}

.me {
    margin: 5px 45px 5px 20px
}

.me::before {
    box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, .4);
    left: -9px
}

.you {
    margin: 5px 20px 5px 45px
}

.you::before {
    box-shadow: 2px -2px 2px 0 rgba(178, 178, 178, .4);
    right: -9px
}

input,
select,
textarea {
    outline: 0
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
    border: 0 solid #EBEBEB!important
}

.chat-spe-bubble {
    margin-right: 32%!important;
    border-radius: 0 6px 6px;
    margin: 1%;
    background-color: #374F69
}

.panel-primary {
    border-color: #803b6c
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #803b6c;
    border-color: #803b6c
}

.outgoing-speech {
    border-radius: 6px 0 6px 6px;
    margin: 1%;
    float: right
}

.option-style {
    border-radius: 6px;
    background: #444;
    color: #fff
}

.choose_button {
    box-shadow: 0 2px 5px 0 transparent
}

.server_mess {
    display: flex;
    margin-top: 2%
}

.sugg {
    margin-top: 1%;
    /*  margin-left: 4%*/
}

.sett_icon {
    font-size: 49px
}

.icon_img {
    vertical-align: middle;
    padding: 3px
}

.user_icon {
    margin-left: 70%
}

.user_icon_img {
    margin-left: 10%
}

.col_class {
    height: 54px!important;
    width: 32%!important
}

.lab_class {
    font-size: 19px;
    color: #803b6c!important
}

.car_img {
    width: 100%;
    border-radius: 1px;
    padding: 3%
}

@media only screen and (max-width:768px) {
    .chatContent {
        margin-right: -3%;
        margin-left: -3%;
        margin-top: 3px;
        max-height: 72vh!important;
    }
    .main_col {
        width: 100%;
        position: fixed;
        height: 100vh!important
    }
    .accordian_width {
        max-width: 81%
    }
    #profile_row,
    #row_index {
        margin: -2%!important;
        height: 100vh;
    }
    .car_img {
        width: 70px
    }
    .server_mess {
        display: flex;
        margin-top: 3%
    }
    .sugg {
        /* margin-left: 15%*/
    }
    .outgoing-speech {
        margin-left: 3%
    }
    .user_icon {
        margin-left: 25%
    }
    .outgoing-speech_img {
        margin-left: -17%
    }
    .user_icon_img {
        margin-left: 6%
    }
    .bot_title {
        font-size: 30px
    }
    .sm_col,
    body {
        padding: 0!important
    }
    .cb {
        overflow: auto;
        height: 68vh!important
    }
    .body_class {
        margin: 0;
        position: fixed
    }
}

.car_tit,
p {
    font-size: 15px
}

.body_class {
    border-radius: 0 0 7px 7px;
    padding-bottom: 6%
}

.carousel-item {
    background-color: #44400;
    text-align: center;
    padding: 2%;
    margin: 3%;
    border-radius: 5px
}

.car_tit {
    font-weight: 600
}

[class*=" ui-icon-"]:before,
[class^=ui-icon-]:before,
[data-icon]:before {
    font-family: ui-carousel!important;
    font-style: normal!important;
    font-weight: 400!important;
    font-variant: normal!important;
    text-transform: none!important;
    speak: none;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

.sm_col {
    margin-top: 1%;
    box-shadow: 0 20px 80px rgba(0, 0, 0, .4);
    animation: fadein 1s;
    padding: 0;
    border-radius: 5px
}

#map {
    position: initial!important;
    overflow: hidden
}

#chatBox {
    width: 100%;
    height: 85vh;
    border: 1px solid;
    padding: 10px
}

input[type=text]:disabled {
    background: #C3C0C0!important
}

button[disabled] {
    background-color: #C3C0C0!important
}

.modal-footer {
    background: #fff;
    z-index: 0
}

.scrollbar {
    height: 100%;
    margin-right: -3%!important;
    overflow-y: scroll;
    overflow-x: scroll
}

#mesages::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    background-color: #fff
}

#mesages::-webkit-scrollbar-thumb {
    background-color: #5a5a5a
}

p {
    padding: 8px;
    margin: 2px
}

.bg_pic,
.row_mar {
    margin: 0
}

.bg_pic {
    background: center no-repeat #363839;
    height: 100vh;
    background-size: cover
}

.bg_bot {
    background: center no-repeat #fff;
    height: 100%;
    width: 100%;
    background-size: cover
}

.date_style {
    width: 88%
}

.input_field {
    width: 100%;
    bottom: 0;
}

.input_style {
    width: 100%;
    font-size: 16px;
    border-width: 0;
    height: 42px;
    border-radius: 6px 0 0 6px!important;
    background-color: #ededed;
    color: #333
}

.carousel-next,
.carousel-prev {
    font-size: 29px;
    position: absolute;
    top: 50%
}

.carousel-prev {
    left: -53px!important
}

.carousel-next {
    right: -50px
}

.ui-carousel .carousel-btn,
.v-middle {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

@font-face {
    font-family: ui-carousel;
    src: url(fonts/ui-carousel.eot);
    src: url(fonts/ui-carousel.eot?#iefix) format("embedded-opentype"), url(fonts/ui-carousel.woff) format("woff"), url(fonts/ui-carousel.ttf) format("truetype"), url(fonts/ui-carousel.svg#ui-carousel) format("svg");
    font-weight: 400;
    font-style: normal
}

[data-icon]:before {
    content: attr(data-icon)
}

.ui-icon-prev:before {
    content: "\61"
}

.ui-icon-next:before {
    content: "\62"
}

.carousel-dots li button:before,
.ui-icon-dot:before {
    content: "\63"
}

.ui-carousel {
    display: block;
    margin-bottom: 30px
}

.ui-carousel .carousel-wrapper {
    position: relative
}

.ui-carousel .track-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

#main-content,
#sidebar-tab-content {
    overflow-y: scroll
}

.ui-carousel .track {
    position: relative;
    display: block;
    float: left
}

.ui-carousel .slide {
    float: left;
    height: 100%;
    min-height: 1px
}

.ui-carousel .carousel-btn {
    position: absolute;
    z-index: 10;
    background-color: transparent;
    outline: 0;
    border: none;
    font-size: 20px;
    opacity: .75
}

.ui-carousel .carousel-btn:hover {
    opacity: 1
}

.ui-carousel .carousel-prev .carousel-btn {
    left: -25px
}

.ui-carousel .carousel-next .carousel-btn {
    right: -25px
}

.ui-carousel .carousel-disable {
    opacity: .5
}

.ui-carousel .carousel-disable .carousel-btn:hover {
    opacity: .75
}

.carousel-dots {
    position: absolute;
    bottom: -30px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0
}

.carousel-dots li {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}

.carousel-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: 0;
    background: 0 0
}

.carousel-dots li button:before {
    font-family: ui-carousel;
    font-size: 9px;
    line-height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    opacity: .25;
    color: #000;
    -webkit-font-smoothing: antialiased
}

.carousel-dots li.carousel-active button:before {
    opacity: .75
}

#row_index {
    background: #ebebeb;
    border-radius: 5px
}

#profile_row {
    display: none;
    margin: 0;
    height: 100%;
    background-color: #fff
}

.profile {
    border-radius: 11px 11px 0 0;
    margin: 0;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.weblink {
    font-size: 30px
}

.form_input {
    margin-left: 3%;
    padding-bottom: .5%;
}

.full_width {
    width: 100%
}

.title_bar {
    margin: 0;
    height: 72px;
    display: flex;
    border-radius: 5px 5px 0 0
}

.main_col {
    height: 93%
}

.profile_info {
    height: 52%;
    margin: 0;
    border-radius: 0 0 11px 11px
}

ul.neo-nav {
    border: 2px solid #75736f;
    display: inline-block;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    padding-start: 0;
    border-radius: 5px
}

ul.neo-nav li {
    display: inline-block
}

ul.neo-nav li a {
    color: #75736f;
    padding: 10px 30px;
    font-weight: 700;
    display: block
}

ul.neo-nav li.active a {
    color: #fff
}

ul.neo-nav li:not(:first-child) {
    border-left: 2px solid #75736f
}

ul.neo-nav li.active {
    background-color: #75736f;
    color: #fff
}

ul.neo-nav li a:active,
ul.neo-nav li a:hover,
ul.neo-nav li a:link,
ul.neo-nav li a:visited {
    text-decoration: none
}

#main-content {
    background-color: #f5f5f5;
    border-left: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 1
}

#sideBar {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    z-index: 2
}

.tab-container {
    border-bottom: 1px solid gray;
    padding-bottom: 20px
}

#addFieldTab {
    padding-top: 20px;
    padding-left: 20px
}

#fieldSettingTab {
    padding: 20px
}

#formBuilderContent {
    background-color: #fff;
    padding: 20px
}

.dragElement-wrapper {
    width: 50%;
    display: inline-block;
    margin-bottom: 20px
}

.dragElement-wrapper .drag-element {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer
}

.dragElement-wrapper .drag-element i {
    margin-right: 5px
}

[draggable] {
    -khtml-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element
}

#chkBoxZone {
    margin-top: 15px
}

.input-as-label {
    border: none;
    box-shadow: none;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    background-color: transparent
}

.active-field {
    background-color: #f1fafc
}

.form-group {
    margin: 4px
}

.form-group i.remove-ico {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer
}

.pale {
    opacity: 50%
}

.sortable-formbuilder,
.sortable-stdFields {
    padding-left: 0;
    -moz-padding-start: 0;
    -webkit-padding-start: 0;
    -khtml-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
    list-style: none;
    min-height: 40px
}

.drop-to-add {
    height: 40px
}

a[data-toggle=collapse] i.fa-plus-square-o {
    display: none
}

a[data-toggle=collapse] i.fa-minus-square-o,
a[data-toggle=collapse].collapsed i.fa-plus-square-o {
    display: inline-block
}

a[data-toggle=collapse].collapsed i.fa-minus-square-o {
    display: none!important
}

.orange-txt {
    color: orange
}

@media only screen and (max-width:480px) {
    .show-on-desktop {
        display: none
    }
}

@media only screen and (min-width:600px) {
    * [aria-labelledby=hide-on-desktop],
    .hide-on-desktop {
        display: none;
        max-height: 0;
        overflow: hidden
    }
}

#hide input[type=file] {
    display: none;
    margin: 10px
}

#hide input[type=file]+label {
    display: inline-block;
    margin: 20px;
    padding: 4px 32px;
    background-color: #FFF;
    border: 1px solid #666F77;
    border-radius: 6px;
    color: #666F77
}

#hide input[type=file]:active+label {
    background-image: none;
    background-color: #2D6C7A;
    color: #FFF
}

.div-hide {
    top: -100px!important;
    opacity: 0!important
}

.active {
    display: block;
    min-height: 425px;
    max-height: 425px
}

.inactive {
    display: none
}

.collapsible-item {
    margin-bottom: 1px!important
}

.collapsible-item>.body .content {
    padding: 0!important
}

.collapsible-item .title {
    padding: 10px;
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    cursor: pointer
}

.input_width {
    width: 100%;
    margin: 0
}

.init_api_input {
    width: 100%;
    border-radius: 0
}

.removeparams {
    margin-top: 6%;
    font-size: 19px!important
}

.radio_disp {
    display: flex
}

.space {
    margin-right: 6%
}

.file_sel {
    background: #803b6c;
    color: #fff;
    padding: 2%;
    box-shadow: 8px 7px 6px 1px #9c6e8e
}

.mar_cls {
    border-top: 1px solid #e5e5e5
}

.hstyle {
    font-weight: 900
}

.cond_p {
    background-color: #803b6c;
    color: #fff
}

.i_class {
    color: #803b6c;
    font-size: 33px
}

.p_class {
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 28px
}

ul[dnd-list] {
    min-height: 42px;
    padding-left: 0
}

ul[dnd-list] .dndDraggingSource {
    display: none
}

ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px
}

ul[dnd-list] li {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin: 1%
}

.icon_class {
    float: right;
    margin-top: -16px;
    margin-right: -16px;
    background-color: #b7b6b6;
    padding: 4px;
    font-size: 27px!important
}

.default_branch {
    margin: 1%;
    background: #ddd !important;
    padding: 1%;
    font-size: 24px
}

ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d
}

.animate.ng-enter,
.animate.ng-leave {
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, .5, 1);
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap
}

.animate.ng-enter,
.animate.ng-leave.animate.ng-leave-active {
    opacity: 0;
    width: 0;
    height: 0
}

.animate.ng-enter.ng-enter-active,
.animate.ng-leave {
    opacity: 1;
    width: 100%;
    height: 100%
}

.del_gam {
    margin-top: -4%;
    float: right;
    height: 0;
    cursor: pointer;
    font-size: 26px;
    color: #3b3c3dc7
}

.toolbar {
    -webkit-padding-start: 16px;
    display: flex
}

.tool_list {
    margin-right: 11%
}

.tool_div {
    padding: 4%;
    width: 100%;
    font-size: 22px;
    font-weight: 400
}

.emphasized {
    text-decoration: underline;
    font-weight: 700;
    font-style: italic
}

.unselectable {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.tool-bubble {
    position: absolute;
    background: #4b4549;
    border-radius: .4em;
    width: 19%;
    top: -58px;
    color: #fff
}

.tool-bubble:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-top-color: #4b4549;
    border-bottom: 0;
    border-left: 0;
    margin-left: -10px;
    margin-bottom: -10px
}

.accordian_width {
    max-width: 30%;
    margin-top: -2%;
    min-height: 585px
}

body,
html {
    overflow-x: hidden
}

body {
    position: relative
}

::-webkit-scrollbar {
    display: none
}

.chatContent {
    margin-right: -3%;
    margin-left: -3%;
    margin-top: 3px;
    max-height: 80%
}

.chatHead {
    background-color: #c00;
    margin-top: 0
}

.backToChatview {
    margin-top: 2%;
    font-size: 20px;
    color: #080808
}

.chatImage {
    margin: 4px
}

.userSpeech {
    margin-right: 3.5%
}

.speechImage {
    width: 100%;
    height: 200px;
    border-radius: 1px 1px 10px 10px
}

.submitFile {
    display: inline-block;
    font-size: 25px!important;
    padding-top: 7.5%
}

@media (max-width:575.98px) {
    /* .chatHead {
        background-color: #c00;
        margin-top: 64px
    } */
    .input_field {
        width: 100%;
        bottom: 0;
        position: fixed
    }
    .backToChatview {
        margin-top: 20%;
        font-size: 20px;
        color: #080808
    }
}

.fields {
    padding-top: 0;
    padding-bottom: 0
}

.flex-50 {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    max-width: 33%;
    max-height: 100%;
    box-sizing: border-box
}

md-dialog,
md-dialog.md-default-theme {
    border-radius: 5px;
    background-color: #fff;
    color: #333
}

.title {
    font-weight: 400;
    font-size: 110%
}

@media only screen and (max-width:1024px) {
    .accordian_width {
        max-width: 50%
    }
}

@media only screen and (max-width:640px) {
    .accordian_width {
        max-width: 95%
    }
}

.glyphicon {
    font-size: 35px !important;
    margin-right: 6% !important;
    margin-top: 1%;
}

.chat_button_div {
    margin-top: 19%;
    width: 100%;
    box-shadow: none !important;
    background: none !important;
}

.chat_button {
    margin: 0px;
    width: 100%;
    box-shadow: none !important;
    background: none !important;
}

.button_icon {
    height: auto;
    width: 29px;
}

.api {
    background: white;
    overflow: scroll;
    height: -webkit-fill-available;
    padding-bottom: 3%;
}