.chartdiv {
    width: 100%;
    height: 500px;
}
.grey-backg {
    background-color:#eef1f5;
}
.dash-box {
    min-height: 100px;
    background: #fff;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.metrics-label {
    font-size:14px;
    margin: 0;
}

.metrics-value {
    font-weight: 600;
    font-size:38px;
    margin-bottom: 0px;
}
.btn.reset-btn {
    background-color: transparent;
    color: #465892;
    font-weight: normal;
    font-size: 15px;
    margin: 0;
    border-color: #ccc;
}
.inline-block{
    display: inline-block !important;
    width: auto;
}
.dt-range{
    position: relative;
    width: 210px !important;
}
.dt-range i {
    position: absolute;
    left: 5px;
    top: 10px;
}
.dt-range .date-picker{
    font-size: 15px;
    padding-left: 22px;
}

.chart-title {
    top: 10px;
    left: 20px;
    font-size: 20px;
}
.metrics-label .fa {
    font-size: 22px;
}

.amcharts-chart-div a {display:none !important;}



.flow-type .btn.active{
    background-color: #0062cc !important;
    border-color: #0062cc !important;
}

/* The container */
.botflow-container {
    position: relative;
    padding-left: 28px;
    margin: 7px 1px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .botflow-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color:#c7c5c5;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .botflow-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .botflow-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .botflow-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .botflow-container .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  /*------ej grid css----------*/
  .e-grid .e-headercelldiv, .e-grid .e-rowcell{
    /* text-align: center !important; */
    font-family: sans-serif;
    font-size: 15px;
}
.e-table tr .e-rowcell:first-child{
      background: #b6c1c7;
 }
 .e-grid .e-headercell{
    background: #3988bf;
    color: #fff;
}
.e-filterset:before{
    color: #fff;
}
.e-excelIcon{
    font-size: 22px;
    text-align: left;
}
.e-grid .e-rowcell{
    border-width: 0px;
}

#sunburstChart {
    height: 600px;
    width: 600px;
  }
  
  text { 
    pointer-events: none;
  }
  tt.tooltip {	
      position: absolute;			
      text-align: center;			
      width: auto;					
      height: auto;					
      padding: 2px;				
      font: 1.2em sans-serif;		
      background: white;	
      border: 1px;		
      border-style: solid;
      border-color: black;
      border-radius: 8px;			
      pointer-events: none;
  }

.mt {
    margin-top: 10px;
}
.mr {
    margin-right: 10px;
}
.ml {
    margin-left: 10px;
}
.mb {
    margin-bottom: 10px;
}
.pt {
    padding-top: 10px;
}
.pr {
    padding-right: 10px;
}
.pl {
    padding-left: 10px;
}
.pb {
    padding-bottom: 10px;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.on-no-data{
    padding: 45px 0 10px 20px;
}

.daterangepicker.dropdown-menu.opensright.show-calendar{
    right: 0 !important;
    left: auto !important;
}